$mainBGcolor: #00142C;
$mainTextColor: #f0882b;
$additionalTextColor: #FF7F50;

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
  height: 100%;
}

body {
  &.body_scroll {
    overflow: hidden;
  }
}
html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rockwell"; /* Имя шрифта */
  src: url('../fonts/Rockwell.ttf'); /* Путь к файлу со шрифтом */
}



/* Прижать футер */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  .content {
    flex: 1 0 auto;
    overflow: hidden;
  }
  .footer {
    flex: 0 0 auto;
  }
}



iframe{
  display: block;
}


h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 26px;
  @media (max-width: 991px) {
    font-size: 3rem;
  }
}
h2 {
  font-size: 3.6rem;
  color: #383838;
  font-weight: bold;
  @media (max-width: 991px) {
    font-size: 2.4rem;
  }
}
h3 {
  font-size: 1.8rem;
  color: #383838;
  font-weight: bold;
}
p {
  color: #fff;
  font-size: 1.5rem;
}
.header__line {
  position: relative;
  padding-bottom: 8px;
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    width: 120px;
    height: 4px;
    background-color: $mainTextColor;
    left: 50%;
    transform: translateX(-50%);
  }
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    
  }
}
#arrow-point-to-right {
  opacity: 1;
}

