.form {
	.input__phone {
		width: 100%;
		position: relative;
		input:focus + .input__phone__placeholder {
			display: none;
		}
		.input__phone__placeholder {
			position: absolute;
			display: block;
			top: calc(50% - 10px);
			right: 0px;
			transform: translateY(-50%);
			font-size: 1.5rem;
			color: #858585;
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 15px;
		height: 15px;
		background: $mainTextColor;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../images/checked.svg") no-repeat;
	}
	.form__info {
		font-size: 1.5rem;
		line-height: 19px;

		color: #303030;
		text-align: left;
		a {
			font-size: 1.5rem;
		}
	}

	p.form__info {
		padding-top: 2px;
	}
	input {

		width: 100%;
		background: transparent;
		border: none;
		border-bottom: 1px solid #cacaca;
		display: block;
		font-size: 1.5rem;
		color: #909090;
		padding: 0 0px 10px 0;
		position: relative;

		&:focus {
			outline: none;
		}

		&::-webkit-input-placeholder {
			color: #909090;
		}

		&::-moz-placeholder {
			color: #909090;
		}
	}
	textarea {
		height: 80px;
		resize: none;
		width: 100%;
		background: transparent;
		border: none;
		border-bottom: 1px solid #cacaca;
		display: block;
		font-size: 1.5rem;
		color: #909090;
		padding: 0 20px 10px 0;
		position: relative;
		&:focus {
			outline: none;
		}

		&::-webkit-input-placeholder {
			color: #909090;
		}

		&::-moz-placeholder {
			color: #909090;
		}
	}
	.form__file {
		cursor: pointer;
		input[type=file] {
			display: none;
		}
		.form__file__text {
			font-size: 1.5rem;
			color: $mainTextColor;
			padding-left: 15px;
			display: block;
		}
	}
	.btn_form {
		width: 100%;
	}
	.btn_form_4 {
		width: 40%;
		@media (max-width: 991px) {
			width: unset;
		}
	}

}
.close {
	font-size: 4rem;
}



.search {
	max-width: 294px;
	width: 100%;
	padding-left: 7%;
	display: flex;
	justify-content: flex-end;

	position: relative;
	input[type='search'] {
		max-width: 228px;
		background: transparent;
		border: none;
		border-bottom: 1px solid #484848;
		display: block;
		font-size: 1.5rem;
		color: #909090;
		padding: 0 20px 10px 0;
		position: relative;
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #909090;
		}
		&::-moz-placeholder {
			color: #909090;
		}
		&::-ms-clear {
			display: none;
			width : 0;
			height: 0;
		}
		&::-ms-reveal {
			display: none;
			width : 0;
			height: 0;
		}
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}
	.search__icon {
		display: block;
		width: 16px; height: 16px;
		position: absolute;
		top: 0px; right: 0px;
		background: url("../images/search.png") no-repeat;
	}
}

.checkbox {
	display: flex;align-items: center;
	padding: 10px 0;
	div {
		width: 15px;
		height: 15px;
		background-color: #fff;
		border: 1px solid #acb5b0;
		position: relative;
		border-radius: 50%;
	}
	input {
		display: none;
	}
	input:checked + div {
		border: 1px solid $mainTextColor;
	}
	input:checked + div:before {
		content: "";
		display: block;
		width: 7px; height: 7px;
		background-color: $mainTextColor;
		border-radius: 50%;
		position: absolute;
		display: block;
		left: 50%; top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	span {
		padding-left: 10px;
		display: block;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none;
	}
}
.checkbox_btn {
	cursor: pointer;
	display: block;
	width: 100%;
	margin-top: 10px;
	box-sizing: border-box;
	input {
		display: none;
	}
	.checkbox_bg {
		background: transparent;
		border: 1px solid #fff;
		border-radius: 5px;
		padding: 16px 0px;
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		font-weight: normal;
	}
	input:checked + .checkbox_bg{
		background-color: #10a557;
		border: none;
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 50%; left: 15px;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			background: url("../images/complete.png") no-repeat;
		}
	}
}