.btn {
	padding: 12px;
	font-size: 1.5rem;
	color: #fff;
	font-weight: bold;
	border-radius: 6px;
	text-align: center;
	background-color: $mainTextColor;
	&:hover {
	}
	&:focus {
		outline: none;
	}
	&.btn_calc {
		width: 100%;
	}
	&.btn_dawn {
		background: none;
		border: 1px solid $mainTextColor;
		color: $mainTextColor;
		max-width: 195px;
		padding: 9px;
		text-align: left;
		font-weight: normal;
	}
	&.btn__160 {
		width: 160px;
	}
}
a {
	&.btn {
		color: #FFFFFF;
	}
}







.btn-to-top {
	z-index: 100;
	position: fixed;
	bottom: 10%;
	right: -200px;
	cursor: pointer;
	transition: right 0.5s;

	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 68px;
		height: 68px;
		background-color: #37ab6b;
		border: 5px solid #6fbe92;
		border-radius: 6px;
		transition: all 0.5s;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
	&.btn-to-top__phone {
		right: 2%;
		bottom: 30%;
		span {
			font-size: 1.5rem;
			color: rgba(255, 255, 255, 0.7);
			display: none;
			padding-left: 10px;
			white-space: nowrap;
		}
		&:hover {
			.btn-to-top__content {
				width: 260px;
				transition: all 0.5s;
				overflow: hidden;
				display: flex;
				justify-content: flex-start;
			}
			span {
				display: block;
			}
		}
	}
}






