.modal-content {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	overflow: hidden;
	max-width: 570px;
	position: relative;
	.close {
		opacity: 1;
		position: absolute;
		right: 16px; top: 16px;
		line-height: 0;
		span {
			color: #303030;
			font-size: 24px;
		}
	}
	.modal-header {
		border-bottom: 0;
		span {
			font-weight: bold;
			font-size: 1.8rem;
			line-height: 150%;
			color: #303030;
			display: block;
			width: 100%;
			text-align: center;
		}
	}
	.modal-body {
		padding: 0;
		input {
			width: 100%;
		}
	}
	p {
		font-size: 1.5rem;
		color: #111;
		line-height: 140%;
	}
}
.modal-dialog  {
	display: flex;
	justify-content: center;
}

.pa {
	color: $mainTextColor;
	font-size: 1.5rem;
}


.modal-header {
	background: #f9f9f9;
	padding: 32px 90px 30px 90px;
	@media (max-width: 991px) {
		padding: 32px 24px;
	}
}
.modal-body__header {
	background: #f9f9f9;
	padding: 0px 90px 0px 90px;
	@media (max-width: 991px) {
		padding: 0px 24px;
		
	}
}
.modal-body__footer {
	background: #fff;
	padding: 38px 68px 38px 90px;
	@media (max-width: 991px) {
		padding: 30px 25px 30px 25px;
		.btn {
			width: 100%!important;
			max-width: 100%;
		}
	}
}

.soch {
	display: block;
	font-size: 1.5rem;
	color: #111;
	font-weight: bold;
	padding-bottom: 20px;
}


#modalCalculate {
	p {
		font-size: 1.5rem;
		color: #383838;
	}
	input {
		display: block;
		width: 80%;
		&.cacf {
			max-width: 170px;
			@media (max-width: 991px) {
				max-width: 100px;
			}
		} 
	} 
	span {
		color: #383838;
		font-size: 1.5rem;
		font-weight: bold;

	}
	sup {
			font-weight: bold;
		}
	.modal-body__header {
		padding-bottom:  32px;
	}
}

.gdfgr {
	font-size: 1.5rem;
	color: #383838;
	span {
		display: inline-block!important;
		font-size: 1.5rem!important;
		color: #383838!important;
		font-weight: bold!important;
		text-align: left!important;
	}
}

#modalBuyOneClick, #modalCompleteReg, #modalSuccess, #modalCall, #modalReg {
	.modal-body__header {
		padding-bottom:  32px;
	}
}
#modalReg {
	@media (max-width: 991px) {
		.form p.form__info {
			padding: 0px!important;
			line-height: unset!important;
		}
	}
}



#modalSuccess, #modalCalculate {
	@media (max-width: 991px) {
		.btn {
			width: 100%;
			max-width: unset;
		}
	}
}
.asdasd {
	@media (max-width: 991px) {
		display: flex;
		justify-content: space-between;
		text-align: flex-end;
	}
}
.cacf  {
	@media (max-width: 991px) {
		margin-left: 1rem!important;
		margin-right: 1rem!important;
	}
}

.modal-body__header_r {
@media (max-width: 991px) {
		flex-direction: column;
		.pa {
			margin-top: 20px;
		}
	}
	
}
@media (max-width: 991px) {
		
	.soch {
		text-align: center;
	}
	.dsfkjh {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.modal-body__footer {

	}
}