.footer {
	background-color: #ebebeb;
	display: flex;
	flex-direction: column;
	span {
		font-size: 18px;
		line-height: 120%;
		color: #FFFFFF;
		&.footer__header {
			font-weight: bold;
			padding-bottom: 24px;
		}
	}
	.social {
		@media (max-width: 991px) {
			justify-content: flex-start!important;
		}
	}
	.deksis {
		display: block;
		margin-top: 32px;
		@media (max-width: 991px) {
			justify-content: flex-start!important;
		}
	}
	.logo__header, .logo__description {
		color: #383838!important;
	}
	.navigation__footer {
		max-width: 490px;
		width: 100%;
		a {
			display: block;
			font-size: 1.3rem;
			color: #383838;
			&.nav_mar {
				margin: 11px 0;
			}
			&:hover {
				color: #383838;
			}
			&.weight {
				font-weight: 600;
			}
		}
		@media (max-width: 991px) {
			max-width: unset;
			width: 100%;
			flex-direction: column;
		}
	}
	@media (max-width: 991px) {

	}
}
.social {
	a {
		img {
			width: 20px;
			margin: 0 10px;
		}
	}
}
.sp {
	max-width: 454px;
	width: 100%;
}
.pay {
	max-width: 195px;
	width: 100%;
	img {
		display: block;
		margin: 0 3px;
	}
	.pay__description {
		margin-top: 30px;
		display: block;
		font-size: 1.5rem;
		color: $mainTextColor;
		font-weight: bold;
	}
}

.logo_wrapp {
	max-width: 196px;
	width: 100%;
	@media (max-width: 991px) {
		padding-top: 37px;
		width: 100%;
		max-width: unset;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.logo_wrapp_sp {
			width: 50%;
		}
	}
	.logo__description {
		font-size: 1.3rem;
	}
}

.footer__top {
	padding-top: 42px;
	padding-bottom: 28px;
	@media (max-width: 991px) {
		order: 2;
		padding-top: 0px;
		padding-bottom: 94px;
	}
}
.footer__dawn {
	border-top: 1px solid #d3d3d3;
	padding: 29px 0 47px 0;
	.footer__dawn_wrap {
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
	.logo_wrapp {
		span {
			font-size: 1.3rem;
			color: #383838;
		}
	}
	.schedule  {
		padding: 0px;
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	.phone_two_header {
		@media (max-width: 991px) {
			width: 100%;
		    align-items: flex-start;
		    justify-content: flex-start;
		    padding-top: 29px;
		}
	}
	.email_header {
		padding-bottom: 1rem;
	} 
	.schedule__content, .email__content {
		font-size: 1.5rem;
	}
	.sp {
		@media (max-width: 991px) {
			max-width: usnet;
			width: 100%;
			flex-direction: column;
			padding-top: 39px;
		}
	}
	.social  {
		@media (max-width: 991px) {
			padding-bottom: 10px;
		}
	}
	@media (max-width: 991px) {
		order: 1;
		padding: 20px 0 41px 0;
		border: none;
	}
}
.footer__top_wrap {
	@media (max-width: 991px) {
		flex-direction: column;
		.logo_wrapp {
			order: 2;
			.logo {
				margin: 0px;
			}
			.logo__description  {
				padding-bottom: 6px!important;
			}
		}
		.sp {
			order: 1;
			align-items: center!important;
		}
		.pay {
			max-width: unset;
			width: 50%;
		}
		.social {
			max-width: unset;
			width: 50%;
		}
	}
}
#accordionFooter {
	margin-right: -15px;
	margin-left: -15px;
	padding: 50px 0 20px 0;
	.card-header {
		border: none;
		padding: 0px;
		background: none;
		h2 {
			font-size: 1.3rem;
			padding: 16px 15px;
			font-weight: bold;
			display: flex;
			justify-content: space-between;
			color: #fff;
			background-color: $mainTextColor;
			.sldier_arrow_next {
				svg {
					fill: #fff;
					transform: rotate(180deg);
					width: 14px;
					color: #383838;
					transition: all 0.5s;
				}
			}
			&.collapsed {
				color: #383838;
				background: none;
				svg {
					fill: #383838;
					transition: all 0.5s;
					transform: rotate(-90deg);
				}
			}
		}
	}
	.card {
		border: none;
		background: none;
	}
}