extends base.pug
block content
	div()
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								| О компании
	div(class="about")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1
						| О компании
			div(class="row")
				div(class="col-lg-8")
					ul(class="nav nav-pills mb-3" id="pills-tab" role="tablist")
						li(class="nav-item")
							a(class="nav-link active" id="pills-recommended-tab" data-toggle="pill" href="#pills-recommended" role="tab" aria-controls="pills-recommended" aria-selected="true")
								| ООО «Анта»
						li(class="nav-item")
							a(class="nav-link " id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab" aria-controls="pills-new" aria-selected="true")
								| Задачи
						li(class="nav-item")
							a(class="nav-link " id="pills-popular-tab" data-toggle="pill" href="#pills-popular" role="tab" aria-controls="pills-popular" aria-selected="true")
								| Достижения
						li(class="nav-item")
							a(class="nav-link " id="pills-stock-tab" data-toggle="pill" href="#pills-stock" role="tab" aria-controls="pills-stock" aria-selected="true")
								| Сертификаты
						li(class="nav-item")
							a(class="nav-link " id="pills-qw-tab" data-toggle="pill" href="#pills-qw" role="tab" aria-controls="pills-qw" aria-selected="true")
								| Преимущества
					div(class="tab-content" id="pills-tabContent")
						div(class="tab-pane fade show active" id="pills-recommended" role="tabpanel" aria-labelledby="pills-recommended-tab")
							div()
								span(class="about__header")
									| Огнезащитная пропитка для дерева АНТЕКС ПРЕМИУМ. 
								div(class="hid__content")
									div(class="hid__content__wrap")
										p()
											| Огнезащитная пропитка АнтексМногоцелевой огнебиозащитный антисептик для древесины модификации "АНТЕКС" разработан одним из лучших Научно-Производственных предприятий России - ООО "Кайсар", производство которого находится в г.Ижевск. 
										p()
											| Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. 

										p()
											| Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. 
							div()
								a(href="#" class="btn__more d-flex justify-content-start btn__text_more active")
									span(class="btn__text")
										| Читать далее
									span(class="btn__text btn__text_close")
										| Скрыть
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
						div(class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab")
						div(class="tab-pane fade" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab")
						div(class="tab-pane fade" id="pills-stock" role="tabpanel" aria-labelledby="pills-stock-tab")
						div(class="tab-pane fade" id="pills-qw" role="tabpanel" aria-labelledby="pills-qw-tab")
	div(class="contacts")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2
						| Контакты
			div(class="row contacts__content")
				div(class="col-lg-4 d-flex flex-column justify-content-between")
					div()
						span(class="contacts__header")
							| Главное представительство, Москва
						span(class="contacts__description")
							| Телефоны
						a(href="tel:" class="contacts__info")
							| +7 (495)  741 88 53
						a(href="tel:" class="contacts__info")
							| +7 (926)  703 61 27
						span(class="contacts__description")
							| E-mail
						a(href="mail:anta-msk@narod.ru" class="contacts__info")
							| anta-msk@narod.ru
						span(class="contacts__description")
							| Адрес
						span( class="contacts__info")
							| г. Москва,  ул. Нагатинская дом 3А
						span(class="contacts__description")
							| Часы работы
						span( class="contacts__info")
							| с 9:00 до 18:00 ежедневно
					div()
						a(href="#" class="btn__more d-flex justify-content-start")
							span(class="gf")
								| Перейти ко всем представительствам
							<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
				div(class="col-lg-8 d-none d-lg-flex")
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6362.664279667593!2d37.62751545363603!3d55.67957230680046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab35688ae14e7%3A0xc659dceb8a95c915!2z0J3QsNCz0LDRgtC40L3RgdC60LDRjyDRg9C7LiwgM9CQLCDQnNC-0YHQutCy0LAsIDExNzEwNQ!5e0!3m2!1sru!2sru!4v1571397080586!5m2!1sru!2sru" width="100%" height="360" frameborder="0" style="border:0;" allowfullscreen="")
	div(class="ask d-none d-lg-block")
		div(class="container")
			div(class="row align-items-center")
				div(class="col-lg-9")
					h2
						| Напишите письмо руководителю
					p(class="ask__text")
						| Есть вопросы, которые можно решить только с руководителем? Напишите письмо прямо сейчас, и руководитель свяжется с вами в ближайшее время!
					form(class="form")
						div(class="d-flex justify-content-between ask__full")
							input(type="text" placeholder="Имя" class="mb-5")
							label(class="input__phone mb-5")
								input(type="text"  class="" placeholder="+7 (___) ___ ____")
								span(class="input__phone__placeholder")
									| Телефон
							input(type="email" placeholder="Email" class="mb-5")
						textarea(placeholder="Текст письма" class="mb-5")
						label(class="form__file d-flex justify-content-end align-items-end")
							input(type="file")
							img(class="lazyload" data-src="images/file.png" alt="img")
							span(class="form__file__text")
								| Прикрепите файл
						button(class="btn btn_form_4 mt-5")
							| Отправить
	div(class="spam")
		div(class="container")
			div(class="row")
				div(class="spam__wrap col-12 col-lg-7")
					h2()
						| Будьте в курсе новинок и акций!
					div()
						form(class="form d-flex justify-content-between")
							input(type="text" placeholder="Email")
							button(type="submit" class="btn")
								| Получить информацию
	div(class="ask ask_bg d-block d-lg-none")
		div(class="container")
			div(class="row align-items-center")
				div(class="col-lg-9")
					h2
						| Напишите письмо руководителю
					p(class="ask__text")
						| Есть вопросы, которые можно решить только с руководителем? Напишите письмо прямо сейчас, и руководитель свяжется с вами в ближайшее время!
					form(class="form")
						div(class="d-flex justify-content-between ask__full")
							input(type="text" placeholder="Имя" class="mb-5")
							label(class="input__phone mb-5")
								input(type="text"  class="" placeholder="+7 (___) ___ ____")
								span(class="input__phone__placeholder")
									| Телефон
							input(type="email" placeholder="Email" class="mb-5")
						textarea(placeholder="Текст письма" class="mb-5")
						label(class="form__file d-flex justify-content-end align-items-end")
							input(type="file")
							img(class="lazyload" data-src="images/file.png" alt="img")
							span(class="form__file__text")
								| Прикрепите файл
						button(class="btn btn_form_4 mt-5" type="submit")
							| Отправить
