extends base.pug
block content
	div()
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								| Рекомендации технолога
	div(class="help")
		div(class="container")
			div(class="row")
				div(class="col-lg-4")
					div()
						ul(class="nav nav-pills" id="pills-tab" role="tablist")
							li(class="nav-item w-100")
								a(class=" asd nav-link d-flex justify-content-between" id="pills-recommended-tab" data-toggle="pill" href="#pills-recommended" role="tab" aria-controls="pills-recommended" aria-selected="false")
									| Советы технолога
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
						div(class="tab-content" id="pills-tabContent")
							div(class="tab-pane fade " id="pills-recommended" role="tabpanel" aria-labelledby="pills-recommended-tab")
								div(class="help__link_wrap active")
									a(class="help__link " href="#")
										| Выбор огнезащитной пропитки
									span()
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
									span(class="help__link__content")
										div
											a(href="#" class="navigation__content__link navigation__content__link_back help__link__content__back ")
												| Назад
												<div class="sldier_arrow_next ">
													<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
														<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
															<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
																<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
															</g>
														</g>
													</svg>
												</div>
											a(href="#" class="active")
												| Что скрывают от нас некоторые производители пропиток
											a(href="#")
												| Принципы работы с пропитками
											a(href="#")
												| Комплексная обработка древесины
											a(href="#")
												| Что выбрать для обработки: пропитки, масло или лак?
											a(href="#")
												| Что скрывают от нас некоторые производители пропиток
								div(class="help__link_wrap")
									a(class="help__link" href="#")
										| Секреты работы пропиток
									span()
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
									span(class="help__link__content")
										div
											a(href="#" class="navigation__content__link navigation__content__link_back help__link__content__back")
												| Назад
												<div class="sldier_arrow_next ">
													<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
														<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
															<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
																<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
															</g>
														</g>
													</svg>
												</div>
											a(href="#")
												| Что скрывают от нас некоторые производители пропиток
											a(href="#")
												| Принципы работы с пропитками
											a(href="#")
												| Комплексная обработка древесины
											a(href="#")
												| Что выбрать для обработки: пропитки, масло или лак?
											a(href="#")
												| Что скрывают от нас некоторые производители пропиток
								div(class="help__link_wrap")
									a(class="help__link" href="#")
										| Комплексная обработка древесины
									span()
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
									span(class="help__link__content")
										div
											a(href="#" class="navigation__content__link navigation__content__link_back help__link__content__back")
												| Назад
												<div class="sldier_arrow_next ">
													<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
														<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
															<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
																<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
															</g>
														</g>
													</svg>
												</div>
											a(href="#")
												| Что скрывают от нас некоторые производители пропиток
											a(href="#")
												| Принципы работы с пропитками
											a(href="#")
												| Комплексная обработка древесины
											a(href="#")
												| Что выбрать для обработки: пропитки, масло или лак?
											a(href="#")
												| Что скрывают от нас некоторые производители пропиток
								div(class="help__link_wrap")
									a(class="help__link" href="#")
										| Что выбрать для обработки: пропитки, масло или лак?
									span()
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
									span(class="help__link__content")
										div
											a(href="#" class="navigation__content__link navigation__content__link_back help__link__content__back")
												| Назад
												<div class="sldier_arrow_next ">
													<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
														<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
															<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
																<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
															</g>
														</g>
													</svg>
												</div>
											a(href="#")
												| Что скрывают от нас некоторые производители пропиток
											a(href="#")
												| Принципы работы с пропитками
											a(href="#")
												| Комплексная обработка древесины
											a(href="#")
												| Что выбрать для обработки: пропитки, масло или лак?
											a(href="#")
												| Что скрывают от нас некоторые производители пропиток
					div()
						div(class="callback d-none d-lg-flex flex-column align-items-center")
							span
								| Не знаете, что выбрать?
							p
								| Закажите обратный звонок!
							button(class="btn")
								| Заказать звонок
				div(class="col-lg-8")
					h2
						| Что скрывают от нас некоторые производители пропиток?
					p
						| Что такое огнезащитный состав, назначение, основные критерии и определение его эффективности? Огнезащитная обработка деревянных конструкций нужна для того, чтобы при пожаре не происходило воспламенения и распространения пламени по поверхности древесины. Огнезащитные составы для древесины подлежат обязательной сертификации. Каждый огнезащитный состав должен иметь:
					p
						| Сертификат пожарной безопасности (о том, что состав является огнезащитным и при определенном расходе обеспечивает 1 или 2 группу огнезащитной эффективности). Санитарно - эпидемиологическое заключение (о том, что состав соответствует гигиеническим нормам и санитарным правилам). Для определения огнезащитных свойств состав проходит испытания в аккредитованной испытательной пожарной лаборатории.
					p
						| Для испытаний берется несколько брусков определенного размера, обработанных  составом с расходом в соответствии с ТУ. Обработанный брусок взвешивается до начала огневых испытаний. Затем на него в течение 2 минут воздействуют пламенем газовой горелки. После этого брусок снова взвешивают и замеряют потерю массы после огневого испытания. Если потеря массы бруска составила не более 9%, то составу присваивается 1-я группа огнезащитной эффективности, если потеря массы до 25% - то 2 группа. Больше 25% - состав не прошел испытания и не является огнезащитным.
					p
						| Сейчас на российском рынке представлено много огнезащитных составов для древесины, которые имеют сертификаты и обеспечивают 1 или 2 группу огнезащитной эффективности. Но все дело в расходе: ведь один состав прошел испытания на 1 группу при расходе 500 г/кв.м, а другой - при 280 г/кв. м!
					p
						| Для чего нужны эти показатели? Конечно, покупатель-частник возможно не потребует сертификаты, ему не интересны эти группы. Главное - чтобы дом и банька не сгорели. Покупатели, которым нужно пройти проверку пожарных (например, строители деревянных домов) обязательно потребуют у вас сертификаты и спросят про группу огнезащитной эффективности состава.
	div(class="about about__fix pb-lg-5")
		div(class="container pb-lg-5")
			div(class="row")
				div(class="col-12")
					div(id="products__slider")
						- for (var x = 0; x < 6; x++)
							div(class="d-flex justify-content-center")
								div(class="products__item products__item_hover d-flex flex-column align-items-center")
									div(class="products__header")
										a(class="favorites" href="#")
											img(class="" src="images/heart.png" alt="headrt img")
										a(class="compare" href="#")
											img(class="" src="images/top.png" alt="top img")
									a(href="#")
										img(class="" src="images/products_1.png" alt="img")
										span(class="products__name")
											| Антекс Премиум
										span(class="products__type")
											| Огнебиозащитный антисептик
									form(action="script.php" method="post" class="w-100")
										div(class="products__form w-100 d-flex justify-content-around align-items-center ")
											p
												| Тара
											div(class="custom__select m-2")
												select()
													option(value="0")
														|    12 л
													option(value="1")
														|    1
													option(value="2")
														|    2
											div(class="d-flex justify-content-left form__numbers")
												button(class="number__minus")
													| -
												span(class="form__numbers_val")
													| 0
												input(type="number" class="mx-2" value="0" min="0" readonly hidden)
												button(class="number__plus")
													| +
									div(class="products__links")
										a(href="#" class="count d-flex flex-row mb-3")
											img(src="images/count.png" alt="img" class="pr-2")
											| Рассчитать количество
										a(href="#" class="eye d-flex flex-row")
											img(src="images/eye.png" alt="img" class="pr-2")
											| Быстрый просмотр
									div(class="products__price d-flex flex-column align-items-center")
										span(class="products__price_old")
											| 12 990 ₽
										span(class="products__price_now")
											| 12 110 ₽
									button(type="submit" class="btn mt-5 mb-4")
										| В корзину
									a(class="w-100 flex-row justify-content-center align-items-center one-click" href="#")
										img(class=" pr-2" src="images/mouse.png" alt="img")
										| Купить в 1 клик
					a(href="#" class="products__link_more d-flex align-items-center")
						| Вернуться в каталог
						<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
	div(class="ask ask_bg")
		div(class="container")
			div(class="row align-items-center")
				div(class="col-lg-6")
					h2
						| Остались вопросы?
					span(class="ask__head")
						| Получите консультацию бесплатно  с 6:30 до 24:00
					div(class="ask__item d-none d-lg-flex")
						img(class="lazyload" data-src="images/k.png" alt="img")
						p(class="pl-4")
							|	 Если хотите получить письменный ответ, оставте email. Чтобы получить консультацию по телефону, укажите свой контактный номер.
					div(class="ask__item d-none d-lg-flex")
						img(class="lazyload" data-src="images/k.png" alt="img")
						p(class="pl-4")
							| Если хотите получить письменный ответ, оставте email. Чтобы получить консультацию по телефону, укажите свой контактный номер.
				div(class="col-lg-4 offset-lg-1")
					form(class="form")
						input(type="text" placeholder="Имя" class="mb-5")
						label(class="input__phone mb-5")
							input(type="text"  placeholder="+7 (___) ___ ____")
							span(class="input__phone__placeholder")
								| Телефон
						input(type="email" placeholder="Email" class="mb-5")
						textarea(placeholder="Ваш вопрос" class="mb-5")
						label(class="form__file d-flex align-items-end")
							input(type="file")
							img(class="lazyload" data-src="images/file.png" alt="img")
							span(class="form__file__text")
								| Прикрепите файл
						button(class="btn btn_form mt-5")
							| Заказать консультацию
