
- var menuItems = ['Главная', 'Услуги', 'Цены', 'О компании', 'Блог', 'Контакты'];


doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap&subset=cyrillic" rel="stylesheet")


        link(rel="stylesheet" href="css/main.min.css")

        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

        script( src="js/startFunction.min.js")

        title Эколак
    body
        div(id="preloader-cube")
            div(class="caption")
                div(class="cube-loader")
                    div(class="cube loader-1")
                    div(class="cube loader-2")
                    div(class="cube loader-4")
                    div(class="cube loader-3")
        div(class="page")
            div(class="first-header d-none d-lg-block")
                div(class="container")
                    div(class="row")
                        div(class="col-12 d-flex align-items-center")
                            div(class="info info_header")
                                a(class="" href="#")
                                    | Доставка
                                a(class="" href="#")
                                    | Как заказать
                                a(class="" href="#")
                                    | Гарантии
                                a(class="" href="#")
                                    | F.A.Q.
                            div(class="city city_header")
                                svg(class="city__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.757 54.757" style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve")
                                    g
                                        path(d="M27.557,12c-3.859,0-7,3.141-7,7s3.141,7,7,7s7-3.141,7-7S31.416,12,27.557,12z M27.557,24c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5S30.314,24,27.557,24z")
                                        path(d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M41.099,31.431L27.38,51.243L13.639,31.4C8.44,24.468,9.185,13.08,15.235,7.031C18.479,3.787,22.792,2,27.38,2s8.901,1.787,12.146,5.031C45.576,13.08,46.321,24.468,41.099,31.431z")
                                div(class="city__check d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#modalCity" data-whatever="@Форма-хуиформа")
                                    span(class="city__checked")
                                        | Москва
                                    span(class="city__arrow")
                            div(class="phone phone_header")
                                a(href="tel:+7 (495) 741-8853")
                                    | +7 (495) 741-8853
                            div(class="email email_header")
                                a(href="mailto:anta-msk@narod.ru")
                                    img(class="lazyload" data-src="images/mail.png" alt="clock")
                                    span(class="email__content")
                                        | anta-msk@narod.ru
            header(class="header")
                div(class="header__top ")
                    div(class="container ")
                        div(class="row ")
                            div(class="col-12 header__nav d-flex flex-row align-items-center")
                                button(class="btn__menu d-lg-none")
                                    <svg id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')">
                                        <path class="line top"  d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                                        <path class="line middle" d="m 30,50 h 40" />
                                        <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                                    </svg>
                                a(class="logo" href="#")
                                    div
                                        img(class="lazyload" data-src="images/logo.png" alt="logo")
                                        span(class="logo__header")
                                            | Анта
                                    span(class="logo__description")
                                        | Лучший выбор
                                form(class="search d-none d-lg-block")
                                    input(class="search__input" type="search" name="search" placeholder="Поиск")
                                    span(class="search__icon")
                                div(class="phone phone_header phone_two_header d-none d-lg-flex")
                                    img(class="lazyload" data-src="images/phone.png" alt="img phone")
                                    div
                                        a(href="tel:+7 (495) 741-8853")
                                            | +7 (495) 741-8853
                                        a(href="tel:+7 (926) 703-6127")
                                            | +7 (926) 703-6127
                                div(class="schedule d-none d-lg-block")
                                    div(class="email email_header")
                                        a(href="mailto:anta-msk@narod.ru")
                                            img(class="lazyload" data-src="images/mail.png" alt="clock")
                                            span(class="email__content")
                                                | anta-msk@narod.ru
                                    span(class="schedule__date")
                                        img(class="lazyload" data-src="images/clock.png" alt="clock")
                                        span(class="schedule__content")
                                            | 6.30 - 24.00 без выходных
                                    span(class="schedule__consultation")
                                        img(class="lazyload" data-src="images/wat.png" alt="clock")
                                        | Заказать консультацию
                                div(class="hot-block")
                                    a(class="compare d-none d-lg-block" href="#")
                                        img(class="lazyload" data-src="images/top.png" alt="top img")
                                    a(class="favorites d-none d-lg-block" href="#")
                                        img(class="lazyload" data-src="images/heart.png" alt="headrt img")
                                    div(class="order order_min")
                                        div(class="wrapper")
                                            img(class="lazyload" data-src="images/order.png" alt="order img")
                                            span(class="order__count")
                                                | 4
                                        div(class="order__price d-none d-lg-block")
                                            span(class="order__digets")
                                                | 440 688
                                            span(class="order__type")
                                                | &#8381;
                                        div(class="order_min__deep")
                                            div(class="order_min__deep__content")
                                                span(class="order_min__deep__header")
                                                    | В вашей корзине
                                                div(class="order_min__deep__con")
                                                    div(class="d-flex justify-content-center products__item_wrap")
                                                        div(class="products__item  d-flex flex-column align-items-center")
                                                            div( class="products__item__top d-flex flex-row")
                                                                img(class="" src="images/gfd.png" alt="img")
                                                                div(class="pl-3")
                                                                    div(class="d-flex flex-column")
                                                                        span(class="products__name")
                                                                            | Антекс Премиум
                                                                        span(class="products__type")
                                                                            | Огнебиозащитный антисептик
                                                                    form(class="d-flex justify-content-between align-items-center")
                                                                        div(class="d-flex justify-content-left form__numbers")
                                                                            button(class="number__minus")
                                                                                | -
                                                                            span(class="form__numbers_val")
                                                                                | 0
                                                                            input(type="number" class="mx-2" value="0" min="0" readonly hidden)
                                                                            button(class="number__plus")
                                                                                | +
                                                                        div(class="products__price d-flex flex-column align-items-start")
                                                                            span(class="products__price_now")
                                                                                | 12 110 ₽
                                                    div(class="d-flex justify-content-center products__item_wrap")
                                                        div(class="products__item  d-flex flex-column align-items-center")
                                                            div( class="products__item__top d-flex flex-row")
                                                                img(class="" src="images/gfd.png" alt="img")
                                                                div(class="pl-3")
                                                                    div(class="d-flex flex-column")
                                                                        span(class="products__name")
                                                                            | Антекс Премиум
                                                                        span(class="products__type")
                                                                            | Огнебиозащитный антисептик
                                                                    form(class="d-flex justify-content-between align-items-center")
                                                                        div(class="d-flex justify-content-left form__numbers")
                                                                            button(class="number__minus")
                                                                                | -
                                                                            span(class="form__numbers_val")
                                                                                | 0
                                                                            input(type="number" class="mx-2" value="0" min="0" readonly hidden)
                                                                            button(class="number__plus")
                                                                                | +
                                                                        div(class="products__price d-flex flex-column align-items-start")
                                                                            span(class="products__price_now")
                                                                                | 12 110 ₽
                                                div(class="order_min__deep__footer")
                                                    span(class="deep_price")
                                                        | Итого:
                                                        span()
                                                            | 24 220 ₽
                                                    div(class="d-flex justify-content-center")
                                                        button(class="btn")
                                                            | Оформить заказ
                div(class="header__bot d-none d-lg-block")
                    div(class="container ")
                        div(class="row ")
                            div(class="col-12 navigation__item__deep_wp")
                                div(class="navigation")
                                    div(class="navigation__wrapper d-flex justify-content-start align-items-center")
                                        div(class="navigation__item_tg")
                                            a(class="navigation__item navigation__item_active" href="#")
                                                | Каталог
                                        div(class="navigation__item_tg")
                                            a(class="navigation__item" href="#")
                                                | Советы
                                        div(class="navigation__item_tg")
                                            a(class="navigation__item" href="#")
                                                | Галерея
                                            div(class="navigation__item__deep")
                                                div(class="row")
                                                    div(class="col-9 justify-content-between d-flex flex-column")
                                                        div(class="d-flex justify-content-start")
                                                            div(class="navigation__item__deep_we")
                                                                a(href="#" class="navigation__item__deep__header")
                                                                    | Пропитки
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Огнезащитные
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Биозащитные
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От древоточца
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От плесени
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От влаги
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Зимние
                                                            div(class="navigation__item__deep_we")
                                                                a(href="#" class="navigation__item__deep__header")
                                                                    | Лаки
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Огнезащитные
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Биозащитные
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От древоточца
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От плесени
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От влаги
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Зимние
                                                            div(class="navigation__item__deep_we")
                                                                a(href="#" class="navigation__item__deep__header")
                                                                    | Масловоск
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Огнезащитные
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Биозащитные
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От древоточца
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От плесени
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От влаги
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Зимние
                                                            div(class="navigation__item__deep_we")
                                                                a(href="#" class="navigation__item__deep__header")
                                                                    | Масловоск
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Огнезащитные
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Биозащитные
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От древоточца
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От плесени
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | От влаги
                                                                a(href="#" class="navigation__item__deep__link")
                                                                    | Зимние
                                                        div(class="pt-5")
                                                            a(href="#" class="navigation__item__deep__header")
                                                                | Популярные бренды
                                                            div(class="d-flex justify-content-between")
                                                                a(href="#" class="d-flex align-items-center justify-content-center lgf_gf")
                                                                    img(class="lazyload" data-src="images/footer_logo.png" alt="img")
                                                                a(href="#" class="d-flex align-items-center justify-content-center lgf_gf")
                                                                    img(class="lazyload" data-src="images/gfdg.png" alt="img")
                                                                a(href="#" class="d-flex align-items-center justify-content-center lgf_gf")
                                                                    img(class="lazyload" data-src="images/footer_logo.png" alt="img")
                                                                a(href="#" class="d-flex align-items-center justify-content-center lgf_gf")
                                                                    img(class="lazyload" data-src="images/gfdg.png" alt="img")
                                                    div(class="col-3")
                                                        div(class="d-flex justify-content-center products__item_wrap")
                                                            div(class="products__item  d-flex flex-column align-items-center")
                                                                a(href="#" class="products__item__top d-flex flex-row")
                                                                    img(class="" src="images/products_1.png" alt="img")
                                                                    div(class="pl-3")
                                                                        div(class="d-flex flex-column")
                                                                            span(class="products__name")
                                                                                | Антекс Премиум
                                                                            span(class="products__type")
                                                                                | Огнебиозащитный антисептик
                                                                        div(class="products__price d-flex flex-column align-items-start")
                                                                            span(class="products__price_old")
                                                                                | 12 990 ₽
                                                                            span(class="products__price_now")
                                                                                | 12 110 ₽
                                                        div(class="d-flex justify-content-center products__item_wrap mt-4")
                                                            div(class="products__item  d-flex flex-column align-items-center")
                                                                a(href="#" class="products__item__top d-flex flex-row")
                                                                    img(class="" src="images/products_1.png" alt="img")
                                                                    div(class="pl-3")
                                                                        div(class="d-flex flex-column")
                                                                            span(class="products__name")
                                                                                | Антекс Премиум
                                                                            span(class="products__type")
                                                                                | Огнебиозащитный антисептик
                                                                        div(class="products__price d-flex flex-column align-items-start")
                                                                            span(class="products__price_old")
                                                                                | 12 990 ₽
                                                                            span(class="products__price_now")
                                                                                | 12 110 ₽
                                        div(class="navigation__item_tg")
                                            a(class="navigation__item" href="#")
                                                | О компании
                                        div(class="navigation__item_tg")
                                            a(class="navigation__item" href="#")
                                                | Где купить
                                        div(class="navigation__item_tg")
                                            a(class="navigation__item" href="#")
                                                | Контакты
                div(class="navigation__container")
                    div(class="navigation__content")
                        a(href="#" class="navigation__content__link navigation__content__link_back navigation__content__link_back_main")
                            | Назад
                            <div class="sldier_arrow_next arrow__click">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        div(class="navigation__content__link navigation__content__link_wrap"  data-toggle="modal" data-target="#modalCity" data-whatever="@Форма-хуиформа")
                            span()
                                img(class="lazyload " data-src="images/marker.png" alt="img")
                                | Москва
                            div(class="sldier_arrow_next")
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                        a(href="#" class="navigation__content__link")
                            span()
                                img(class="lazyload navigation__content__link_img" data-src="images/heart.png" alt="img")
                                | Избранное
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        div(class="navigation__content__link navigation__content__link_wrap active")
                            | Каталог
                            <div class="sldier_arrow_next arrow__click">
                                <svg class="card_item_arrow " xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            div(class="navigation__content__deep")
                                a(href="#" class="navigation__content__link navigation__content__link_back")
                                    | Назад
                                    <div class="sldier_arrow_next ">
                                        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                            <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                                <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                                    <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                a(href="#" class="navigation__content__link")
                                    span()
                                        img(class="lazyload navigation__content__link_img" data-src="images/heart.png" alt="img")
                                        | Избранное
                                    div( class="sldier_arrow_next")
                                        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                            <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                                <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                                    <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                                </g>
                                            </g>
                                        </svg>
                                a(href="#" class="navigation__content__link ")
                                    | Каталог
                                    <div class="sldier_arrow_next">
                                        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                            <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                                <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                                    <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                        a(href="#" class="navigation__content__link")
                            | Советы
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        a(href="#" class="navigation__content__link")
                            | Галерея
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        a(href="#" class="navigation__content__link")
                            | О компании
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        a(href="#" class="navigation__content__link")
                            | Где купить
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        a(href="#" class="navigation__content__link")
                            | Контакты
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        a(href="#" class="navigation__content__link navigation__content__link_dawn")
                            | Доставка
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        a(href="#" class="navigation__content__link navigation__content__link_dawn")
                            | Как заказать
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        a(href="#" class="navigation__content__link navigation__content__link_dawn")
                            | Гарантии
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        a(href="#" class="navigation__content__link navigation__content__link_dawn")
                            | F.A.Q.
                            <div class="sldier_arrow_next">
                                <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316">
                                    <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
                                        <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
                                            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
            div(class="header__top__mobile d-block d-lg-none")
                    div(class="container")
                        div(class="row")
                            div(class="col-12 header__top__mobile_wrap")
                                a(class="" href="tel:+74957418853")
                                    img(class="lazyload" data-src="images/telephonecopy2.png" alt="img")
                                form(class="search d-block d-lg-none")
                                    input(class="search__input" type="search" name="search" placeholder="Поиск")
                                    span(class="search__icon")
            div(class="content")
                block content
    div(class="modal fade" id="modalCity" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                        | &times;
                div(class="modal-header")
                    span
                        | Выберите город
                div(class="modal-body")
    div(class="modal fade" id="modalReg" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog  modal-dialog-centered modal-lg" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    img(class="lazyload" data-src="images/close.png" alt="img")
                div(class="modal-header pb-5")
                    span(class="d-block text-left")
                        | Регистрация
                div(class="modal-body ")
                    div(class="modal-body__header pt-5")
                        form(class="form")
                            input(type="text" placeholder="Имя")
                            input(type="tel" placeholder="Телефон " class="my-5")
                            input(type="email" placeholder="Email")
                            input(type="password" placeholder="Пароль для входа на сайт" class="my-5") 
                            input(type="password" placeholder="Введите пароль еще раз")
                            div(class="d-flex align-items-start justify-content-center py-5")
                                label(class="m-0")
                                    input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
                                    span(for="checkbox" class="checkbox__label")
                                p( class="form__info")
                                    | Согласен с политикой обработки
                                    a(href="#" class="form__info")
                                        | персональных данных
                            button(class="btn w-100" type="submit")
                                | Зарегистрироваться
    div(class="modal fade" id="modalLogIn" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog  modal-dialog-centered modal-lg" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    img(class="lazyload" data-src="images/close.png" alt="img")
                div(class="modal-header ")
                    span(class="d-block text-left")
                        | Вход
                div(class="modal-body")
                    div(class="modal-body__header")
                        form(class="form")
                            input(type="email" placeholder="Email")
                            input(type="password" placeholder="Пароль" class="my-5")
                        div(class="modal-body__header_r d-flex justify-content-between align-items-center")
                            button(class="btn btn__160  px-4" type="submit")
                                | Вход
                            a(href="#" class="pa")
                                | Забыли пароль?
                        div(class="py-5")
                            span(class="soch")
                                | Вход через соцсети
                            div(class="dsfkjh")
                                a(href="#" class="mr-2")
                                    img(class="lazyload" data-src="images/asdfg.png" alt="img")
                                a(href="#" class="mx-2")
                                    img(class="lazyload" data-src="images/sdfgsdfg.png" alt="img")
                                a(href="#" class="mx-2")
                                    img(class="lazyload" data-src="images/icons8-facebook-48.png" alt="img")
                                a(href="#" class="mx-2")
                                    img(class="lazyload" data-src="images/hgkghjkhjklhjk.png" alt="img")
                                a(href="#" class="ml-2")
                                    img(class="lazyload" data-src="images/vbcxvbeehnrey.png" alt="img")
                    div(class="modal-body__footer d-flex justify-content-between align-items-start")
                        button(class="btn btn__160 btn_dawn text-center")
                            | Регистрация
                        span(class="d-none d-lg-block w-50")
                            | Зарегистрируйтесь и получите доступ к управлению рассылками, отслеживанию заказов, связи с социальными сетями и.т.д
    div(class="modal fade" id="modalCompleteReg" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog  modal-dialog-centered modal-lg" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    img(class="lazyload" data-src="images/close.png" alt="img")
                div(class="modal-header pb-5")
                    span(class="d-block text-left")
                        | Вы зарегистрированы!
                div(class="modal-body")
                    div(class="modal-body__header pt-4")
                        p
                            | Для завершения регистрации перейдите по ссылке, которая отправлена на ваш e-mail адрес
    div(class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog  modal-dialog-centered modal-lg" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    img(class="lazyload" data-src="images/close.png" alt="img")
                div(class="modal-header pb-4")
                    span(class="d-block text-center")
                        | Cпасибо за заказ!
                div(class="modal-body")
                    div(class="modal-body__header pt-4")
                        p(class="text-center")
                            | Наши специалисты свяжутся с вами для обсуждения деталей доставки
                        div(class="d-flex justify-content-center")
                            button(class="btn mt-5 btn__160")
                                | Понятно
    div(class="modal fade" id="modalCalculate" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog  modal-dialog-centered modal-lg" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    img(class="lazyload" data-src="images/close.png" alt="img")
                div(class="modal-header pb-5")
                    span(class="d-block text-left")
                        | Рассчитайте необходимое<br>количество пропитки
                div(class="modal-body ")
                    div(class="modal-body__header pt-4")
                        p
                            | Введите площадь обрабатываемой поверхности
                        form(class="form")
                            label( class="d-flex align-items-end pt-3 asdasd")
                                input(type="text " class="mr-4")
                                span
                                    | м
                                sup
                                    | 2
                            button(class="btn my-4")
                                | Расчитать
                            label( class="d-flex align-items-end pt-3 asdasd")
                                p
                                    | Вам потребуется
                                input(type="text " class="cacf mx-4")
                                span
                                    | кг
    div(class="modal fade" id="modalBuyOneClick" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog  modal-dialog-centered modal-lg" role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    img(class="lazyload" data-src="images/close.png" alt="img")
                div(class="modal-header pb-5")
                    p(class="gdfgr")
                            | Огнебиозащитная пропитка<br> 
                            span()
                                |Антекс Премиум  
                            | 24 кг. 3 шт.
                div(class="modal-body ")
                    div(class="modal-body__header pt-4")
                        form(class="form")
                            input(type="text" placeholder="Имя")
                            input(type="tel"  placeholder="Телефон" class="my-4")
                            input(type="email" placeholder="E-mail")    
                            button(class="btn mt-5 w-100")
                                | Заказать
    div(class="modal fade " id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered modal-lg " role="document")
            div(class="modal-content")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                        | &times;
                div(class="modal-header")
                    span
                        | Форма заявки
                div(class="modal-body")
                    div(class="modal-body__header pt-4")
                        form(class="form")
                            input(type="text" placeholder="Имя*")
                            input(type="tel" class="my-4" placeholder="Телефон*")
                            div(class="d-flex align-items-start justify-content-center py-3 pb-4")
                                label(class="m-0")
                                    input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
                                    span(for="checkbox" class="checkbox__label")
                                p( class="form__info")
                                    | Согласен с политикой обработки
                                    a(href="#" class="form__info")
                                        | персональных данных
                            div(class="d-flex justify-content-center w-100")
                                button(class="btn btn__flare" type="submit" )
                                    | Записаться
    div(class="btn-to-top btn-to-top__phone" data-toggle="modal" data-target="#modalCall" data-whatever="@Форма-хуиформа")
        div(class="btn-to-top__content d-flex justify-content-center align-items-center")
            img(class="lazyload" data-src="images/phone_btn.png" alt="arrow")
            span
                | Заказать консультацию
    div(class="btn-to-top" id="btn-to-top")
        div(class="btn-to-top__content d-flex justify-content-center align-items-center")
            img(class="lazyload" data-src="images/arrow.png" alt="arrow")
    footer(class="footer")
        div(class="container")
            div(class="row")
                div(class="col-12")
                    div(class="accordion d-block d-lg-none" id="accordionFooter")
                        div(class="card")
                            div(class="card-header" id="headingOne")
                                h2(class=""  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                    | Каталог
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFooter")
                                div(class="card-body")
                        div(class="card")
                            div(class="card-header" id="headingOne")
                                h2(class="collapsed"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                                    | Советы
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseTwo" class="collapse " aria-labelledby="headingOne" data-parent="#accordionFooter")
                                div(class="card-body")
                        div(class="card")
                            div(class="card-header" id="headingOne")
                                h2(class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
                                    | Информация для покупателя
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseThree" class="collapse " aria-labelledby="headingOne" data-parent="#accordionFooter")
                                div(class="card-body")
                        div(class="card")
                            div(class="card-header" id="headingOne")
                                h2(class=" collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
                                    | Галерея
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseFour" class="collapse " aria-labelledby="headingOne" data-parent="#accordionFooter")
                                div(class="card-body")
        div(class="container footer__top")
            
            div(class="d-flex footer__top_wrap")
                div(class="logo_wrapp")
                    a(class="logo" href="#")
                        div
                            img(class="lazyload" data-src="images/logo.png" alt="logo")
                            span(class="logo__header")
                                | Анта
                        span(class="logo__description")
                            | Лучший выбор
                    div(class="logo_wrapp_sp d-flex d-lg-none flex-column align-items-start")
                        span(class="logo__description d-block pb-3")
                            | © ООО «Анта»
                        span(class="logo__description")
                            | Все права защищены
                div(class="navigation__footer d-none d-lg-flex justify-content-between")
                    div(class="")
                        a(href="#")
                            | Каталог
                        a(href="#" class="nav_mar")
                            | Советы
                        a(href="#")
                            | Галерея
                    div(class="")
                        a(href="#" )
                            | О компании
                        a(href="#" class="nav_mar ")
                            | Где купить
                        a(href="#")
                            | Контакты
                    div(class="")
                        a(href="#" class="weight")
                            | Доставка
                        a(href="#" class="nav_mar weight")
                            | Как заказать
                        a(href="#" class="weight")
                            | Гарантии
                    div(class="")
                        a(href="#" class="weight")
                            | Вопрос-ответ
                        a(href="#" class="nav_mar weight")
                            | Пропитки
                        a(href="#" class="weight")
                            | Масловоск
                div(class="sp d-flex align-items-start justify-content-end")
                    div(class="social pr-lg-4 pt-lg-1")
                        a(href="#")
                            img(class="lazyload " data-src="images/entypo-social_youtube-with-circle.svg" alt="img")
                        a(href="#")
                            img(class="lazyload" data-src="images/odnoklassniki.svg" alt="img")
                        a(href="#")
                            img(class="lazyload" data-src="images/vk-social-network-logo.svg" alt="img")
                    div(class="pay d-flex flex-column justify-content-end align-items-end")
                        div(class="d-flex align-items-end justify-content-end")
                            img(class="lazyload" data-src="images/q4.png" alt="img")
                            img(class="lazyload" data-src="images/q3.png" alt="img")
                            img(class="lazyload" data-src="images/q2.png" alt="img")
                            img(class="lazyload" data-src="images/q1.png" alt="img")
                        a(class="pay__description d-none d-lg-block" href="#")
                            | Получить промокод
        div(class="footer__dawn")
            div(class="container")
                div(class="d-flex footer__dawn_wrap")
                    div(class="logo_wrapp d-none d-lg-flex flex-column align-items-start")
                        span(class="logo__description d-block pb-3")
                            | © ООО «Анта»
                        span(class="logo__description")
                            | Все права защищены
                    div(class="navigation__footer d-flex justify-content-between")
                        div(class="schedule ")
                            div(class="email email_header")
                                a(href="mailto:anta-msk@narod.ru")
                                    img(class="lazyload" data-src="images/mail.png" alt="clock")
                                    span(class="email__content")
                                        | anta-msk@narod.ru
                            span(class="schedule__date d-block")
                                img(class="lazyload" data-src="images/clock.png" alt="clock")
                                span(class="schedule__content")
                                    | 6.30 - 24.00 без выходных
                        div(class="phone phone_header phone_two_header")
                            img(class="lazyload" data-src="images/phone.png" alt="img phone")
                            div
                                a(href="tel:+7 (495) 741-8853")
                                    | +7 (495) 741-8853
                                a(href="tel:+7 (926) 703-6127")
                                    | +7 (926) 703-6127
                    div(class="sp d-flex align-items-senter justify-content-end")
                        div(class="social pr-lg-4 d-flex align-items-center")
                            div(class="phone phone_header")
                                a(href="tel:+7 (495) 741-8853")
                                    | +7 (495) 741-8853
                        div(class="pay d-flex flex-column justify-content-end align-items-end")
                            button(class="btn btn_dawn")
                                | Заказать консультацию
    script(src="js/main.min.js")

