extends base.pug
block content
	div()
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								| Корзина
	div(class="basket")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| Корзина
			div(class="row d-none d-lg-flex")
				div(class="col-12 d-flex flex-row justify-content-between")
					div(class="basket__wrap")
						|В корзине
						span(class="basket__count")
							|  4 
						| товара
					div()
						button(class="btn")
							| Оформить заказ
			div(class="row basket__items d-none d-lg-flex")
				div(class="col-lg-3")
				div(class="col-lg-3")
					span(class="basket__header")
						| Название
				div(class="col-lg-1")
					span(class="basket__header")
						| Цена
				div(class="col-lg-1")
					span(class="basket__header")
						| Скидка
				div(class="col-lg-1 pr-lg-0")
					span(class="basket__header")
						| Количество
				div(class="col-lg-2 d-flex justify-content-center")
					span(class="basket__header")
						| Всего
				div(class="col-lg-1 basket__item__close")
			- for (var i = 0; i < 4; i++)
				div(class="")
					div(class="row basket__item")
						div(class="col-12  d-flex d-lg-none")
							div(class="basket__item__mobile")
								div(class="col-lg-1 d-flex justify-content-end align-items-start basket__item__close basket__item__wrap")
									span
										| +
								div(class="d-flex justify-content-center")
									img(class="lazyload" data-src="images/products_2.png" alt="img")
								div(class="d-flex flex-column basket__item__wrap")
									span(class="basket__header")
										| Антекс премиум
									span(class="besket__description")
										| Огнезащитная пропитка для древесины, 24 кг.
								div(class="d-flex justify-content-between")
									div(class="basket__item__wrap")
										span(class="basket__header basket__header_p")
											| Цена
										span(class="besket__description")
											| 13 110 ₽
									div(class=" basket__item__wrap ")
										span(class="basket__header basket__header_p")
											| Скидка
										span(class="besket__description")
											| 1 000 ₽
								div(class="d-flex align-items-center justify-content-between py-3")
									span(class="basket__header")
										| Количество
									div(class="d-flex justify-content-left form__numbers")
										button(class="number__minus")
											| -
										span(class="form__numbers_val")
											| 0
										input(type="number" class="mx-2" value="0" min="0" readonly hidden)
										button(class="number__plus")
											| +
								div(class="d-flex justify-content-between pt-3")
									span(class="basket__header")
										| Всего
									span(class="basket__header")
										| 24 220 ₽ 
						div(class="col-lg-3 d-none d-lg-flex")
							div(class="basket__top")
								img(class="lazyload" data-src="images/products_2.png" alt="img")
						div(class="col-lg-3 d-none d-lg-flex flex-column basket__item__wrap")
							span(class="basket__header")
								| Антекс премиум
							span(class="besket__description")
								| Огнезащитная пропитка для древесины, 24 кг.
						div(class="col-lg-1 d-none d-lg-flex basket__item__wrap")
							span(class="besket__description")
								| 13 110 ₽
						div(class="col-lg-1 d-none d-lg-flex basket__item__wrap")
							span(class="besket__description")
								| 1 000 ₽
						div(class="col-lg-1 d-none d-lg-block basket__item__wrap pr-lg-0")
							div(class="d-flex justify-content-left form__numbers")
								button(class="number__minus")
									| -
								span(class="form__numbers_val")
									| 0
								input(type="number" class="mx-2" value="0" min="0" readonly hidden)
								button(class="number__plus")
									| +
							div(class="basket__item__price d-flex")
								span
									| +  
								| 12 110 ₽  
						div(class="col-lg-2 d-none d-lg-flex justify-content-center basket__item__wrap")
							span(class="basket__header")
								| 24 220 ₽ 
						div(class="col-lg-1 d-none d-lg-flex justify-content-start align-items-start basket__item__close basket__item__wrap")
							span
								| +
				hr(class='d-none d-lg-flex')
		div(class="container basket__footer")
			div(class="row")
				div(class="col-lg-4")
					form(class="form d-flex justify-content-between")
						input(type="text" placeholder="Введите промокод")
						button(type="submit" class="btn btn_promo")
							img(class="lazyload" data-src="images/checked__white.svg" alt="img")
				div(class="basket__footer_gt col-lg-6 d-flex justify-content-between offset-lg-2")
					div(class="basket__1")
						button(class="btn")
							| Купить в один клик
					div(class="basket__2 basket__price d-flex flex-column")
						span(class="basket__price__first")
							span()
								| Итого
							span(class="basket__price__first__g")
								|  96 880 ₽
						span(class="basket__price__second")
							span()
								| Вы экономите 
							span()
								| 4 000 ₽
						button(class="btn")
							| Оформить заказ

