extends base.pug
block content
	div()
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								| Каталог
	div(class="catalog")
		div(class="container")
			div(class="row")
				div(class="offset-lg-3 col-lg-9")
					h1
						| Пропиткиa, масловоск
			div(class="row d-flex d-lg-none ")
				div(class="col-12")
					button(class="btn btn__filter")
						| Фильтр
			div(class="row ")
				div(class="col-lg-3")
					form(class="form filter__container")
						span(class="filter__header d-flex justify-content-between align-items-center")
							| Фильтр товаров
							span(class="filter__header__close")
								span
									| +
						div(class="accordion" id="accordionFilter1")
							div(class="card")
								div(class="card-header" id="headingFilterOne")
									h2(class="collapsed" data-toggle="collapse" data-target="#collapseFilterOne" aria-expanded="false" aria-controls="collapseFilterOne")
										| По назначению
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
								div(id="collapseFilterOne" class="collapse " aria-labelledby="headingFilterOne" data-parent="#accordionFilter1")
									div(class="card-body")
										div(class="checkbox__circle d-flex align-items-end justify-content-start")
											label(class="m-0")
												input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
												p( class="form__info")
													| Огнезащита
										div(class="checkbox__circle d-flex align-items-end justify-content-start")
											label(class="m-0")
												input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
												p( class="form__info")
													| Биозащита
										div(class="checkbox__circle d-flex align-items-end justify-content-start")
											label(class="m-0")
												input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
												p( class="form__info")
													| От трещин
										div(class="checkbox__circle d-flex align-items-end justify-content-start")
											label(class="m-0")
												input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
												p( class="form__info")
													| От плесени
										div(class="checkbox__circle d-flex align-items-end justify-content-start")
											label(class="m-0")
												input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
												p( class="form__info")
													| Для бани
							div(class="card")
								div(class="card-header" id="headingFilterTwo")
									h2(class="collapsed" data-toggle="collapse" data-target="#collapseFilterTwo" aria-expanded="false" aria-controls="collapseFilterTwo")
										| По месту обработки
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
								div(id="collapseFilterTwo" class="collapse " aria-labelledby="headingFilterTwo" data-parent="#accordionFilter1")
									div(class="card-body")
										| glfjndfgd dfnkgds bjnjf fjj ljgnfjg kk lfdkgn lf f fkkngl kfdn f ldfkgn fdkgn f
							div(class="card")
								div(class="card-header" id="headingFilterThree")
									h2(class="collapsed" data-toggle="collapse" data-target="#collapseFilterThree" aria-expanded="false" aria-controls="collapseFilterThree")
										| По бренду
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
								div(id="collapseFilterThree" class="collapse " aria-labelledby="headingFilterThree" data-parent="#accordionFilter1")
									div(class="card-body")
										| glfjndfgd dfnkgds bjnjf fjj ljgnfjg kk lfdkgn lf f fkkngl kfdn f ldfkgn fdkgn f
							div(class="card")
								div(class="card-header" id="headingFilterFour")
									h2(class="collapsed" data-toggle="collapse" data-target="#collapseFilterFour" aria-expanded="false" aria-controls="collapseFilterFour")
										| По цене
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
								div(id="collapseFilterFour" class="collapse " aria-labelledby="headingFilterFour" data-parent="#accordionFilter1")
									div(class="card-body")
										| glfjndfgd dfnkgds bjnjf fjj ljgnfjg kk lfdkgn lf f fkkngl kfdn f ldfkgn fdkgn f
						div(class="d-flex justify-content-center")
							button(type="reset" class="btn")
								| Сбросить фильтр

					div(class="accordion d-none d-lg-block" id="accordionTex")
						div(class="card")
							div(class="card-header" id="headingTexOne")
								h2(class="collapsed" data-toggle="collapse" data-target="#collapseTexOne" aria-expanded="false" aria-controls="collapseTexOne")
									| Советы технолога
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
							div(id="collapseTexOne" class="collapse " aria-labelledby="headingTexOne" data-parent="#accordionTex")
								div(class="card-body")
									| glfjndfgd dfnkgds bjnjf fjj ljgnfjg kk lfdkgn lf f fkkngl kfdn f ldfkgn fdkgn f
					div(class="callback d-none d-lg-flex flex-column align-items-center")
						span
							| Не знаете, что выбрать?
						p
							| Закажите обратный звонок!
						button(class="btn")
							| Заказать звонок
				div(class="col-lg-9")
					div(class="catalog__filter_row align-items-center d-none d-lg-flex")
						div()
							span(class="catalog__filter_row__header")
								| Сортировать по:
						div(class="d-flex align-items-start")
							div()
								a(href="#" class="catalog__filter_row__item active")
									| Попопулярности
							div()
								a(href="#" class="catalog__filter_row__item")
									| Цена
							div()
								a(href="#" class="catalog__filter_row__item catalog__filter_row__item_plus")
									| Товары со скидкой
						div(class="d-flex custom__select__wr")
							span
								| Отображать по:
							div(class="custom__select m-2")
								select()
									option(value="0")
										|    9
									option(value="1")
										|    15
									option(value="2")
										|    25
					div(class="row catalog__filter_row_content")
						- for (var x = 0; x < 10; x++)
							div(class="col-lg-4 d-flex justify-content-center products__item_wrap")
								div(class="products__item products__item_hover d-flex flex-column align-items-center")
									div(class="products__header d-flex")
										a(class="favorites" href="#")
											img(class="" src="images/heart.png" alt="headrt img")
										a(class="compare" href="#")
											img(class="" src="images/top.png" alt="top img")
									div(class=" products__header__hover")
										div()
											| - 10%
									a(href="#")
										img(class="" src="images/products_1.png" alt="img")
										span(class="products__name")
											| Антекс Премиум
										span(class="products__type")
											| Огнебиозащитный антисептик
									form(action="script.php" method="post" class="w-100")
										div(class="products__form w-100 d-flex justify-content-around align-items-center ")
											p(class="d-none d-lg-block")
												| Тара
											div(class="custom__select m-2")
												select()
													option(value="0")
														|    12 л
													option(value="1")
														|    1
													option(value="2")
														|    2
											div(class="d-flex justify-content-left form__numbers")
												button(class="number__minus")
													| -
												span(class="form__numbers_val")
													| 0
												input(type="number" class="mx-2" value="0" min="0" readonly hidden)
												button(class="number__plus")
													| +
									div(class="products__links")
										a(href="#" class="count d-flex flex-row mb-3")
											img(src="images/count.png" alt="img" class="pr-2")
											| Рассчитать количество
										a(href="#" class="eye d-flex flex-row")
											img(src="images/eye.png" alt="img" class="pr-2")
											| Быстрый просмотр
									div(class="products__price d-flex flex-column align-items-center")
										span(class="products__price_old d-none d-lg-block")
											| 12 990 ₽
										span(class="products__price_now")
											| 12 110 ₽
										button(type="submit" class="btn mt-5 mb-4")
											| В корзину
									div(class="products__freeeee")
										| Товар по акции!
									a(class="w-100 flex-row justify-content-center align-items-center one-click" href="#")
										img(class=" pr-2" src="images/mouse.png" alt="img")
										| Купить в 1 клик
					div( class="row ")
						div(class="col-12 d-flex justify-content-between align-items-start catalog__footer")
							a(href="#" class="products__link_more d-flex align-items-center")
								| Показать еще
								<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
							div(class='catalog__footer__pagination')
								nav(aria-label="...")
									ul(class="pagination")
										li(class="page-item page-item__left")
											a(class="page-link" href="#" tabindex="-1" aria-disabled="true")
												<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
										li(class="page-item")
											a(class="page-link" href="#")
												| 1
										li(class="page-item")
											a(class="page-link" href="#")
												| 2
										li(class="page-item")
											a(class="page-link" href="#")
												| 3
										li(class="page-item page-item__right")
											a(class="page-link" href="#")
												<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
				div(class="container d-none d-lg-block")
					div(class="row")
						div(class="col-12")
							h2()
								| Советы технолога
							span(class="gjf")
								| Что скрывают от нас некоторые производители пропиток
							p()
								| Что такое огнезащитный состав, назначение, основные критерии и определение его эффективности? Огнезащитная обработка деревянных конструкций нужна для того, чтобы при пожаре не происходило воспламенения и распространения пламени по поверхности древесины. Огнезащитные составы для древесины подлежат обязательной сертификации. Каждый огнезащитный состав должен иметь:
							p()
								| ертификат пожарной безопасности (о том, что состав является огнезащитным и при определенном расходе обеспечивает 1 или 2 группу огнезащитной эффективности). Санитарно - эпидемиологическое заключение (о том, что состав соответствует гигиеническим нормам и санитарным правилам). Для определения огнезащитных свойств состав проходит испытания в аккредитованной испытательной пожарной лаборатории. Для испытаний берется несколько брусков определенного размера, обработанных  составом с расходом в соответствии с ТУ. Обработанный брусок взвешивается до начала огневых испытаний. Затем на него в течение 2 минут воздействуют пламенем газовой горелки. После этого брусок снова взвешивают и замеряют потерю массы после огневого испытания. Если потеря массы бруска составила не более 9%, то составу присваивается 1-я группа огнезащитной эффективности, если потеря массы до 25% - то 2 группа. Больше 25% - состав не прошел испытания и не является огнезащитным.Сейчас на 
					div( class="row gjf__footer")
						div(class="col-12 d-flex justify-content-between align-items-start")
							a(href="#" class="products__link_more d-flex align-items-center")
								| Показать еще
								<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
							a(href="#" class="products__link_more to_top_click d-flex align-items-center")
								| Назад к товарам
								<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
	div(class="d-none d-lg-block")
		div(class="container pb-lg-5")
			div(class="row pb-lg-5")
				div(class="col-12")
					h2()
						| Также вы смотрели
				div(class="col-12")
					div(class="youCheckedItems")
						- for (var i = 0; i < 8; i++)
							div(class="d-flex justify-content-center products__item_wrap")
								div(class="products__item  d-flex flex-column align-items-center")
									a(href="#" class="products__item__top d-flex flex-row")
										img(class="" src="images/products_1.png" alt="img")
										div(class="pl-3")
											div(class="d-flex flex-column")
												span(class="products__name")
													| Антекс Премиум
												span(class="products__type")
													| Огнебиозащитный антисептик
											div(class="products__price d-flex flex-column align-items-start")
												span(class="products__price_old")
													| 12 990 ₽
												span(class="products__price_now")
													| 12 110 ₽
									div(class="products__links")
										a(href="#" class="eye d-flex flex-row")
											img(src="images/eye_2.png" alt="img" class="pr-2 eye_1")
											img(src="images/eye.png" alt="img" class="pr-2 eye_2")
											| Быстрый просмотр
	div(class="ask")
		div(class="container")
			div(class="row align-items-center")
				div(class="col-lg-6")
					h2
						| Остались вопросы?
					span(class="ask__head")
						| Получите консультацию бесплатно  с 6:30 до 24:00
					div(class="ask__item d-none d-lg-flex")
						img(class="lazyload" data-src="images/k.png" alt="img")
						p(class="pl-4")
							| Если хотите получить письменный ответ, оставте email. Чтобы получить консультацию по телефону, укажите свой контактный номер.
					div(class="ask__item d-none d-lg-flex")
						img(class="lazyload" data-src="images/k.png" alt="img")
						p(class="pl-4")
							| Если хотите получить письменный ответ, оставте email. Чтобы получить консультацию по телефону, укажите свой контактный номер.
				div(class="col-lg-4 offset-lg-1")
					form(class="form")
						input(type="text" placeholder="Имя" class="mb-5")
						label(class="input__phone mb-5")
							input(type="text" placeholder="+7 (___) ___ ____")
							span(class="input__phone__placeholder")
								| Телефон
						input(type="email" placeholder="Email" class="mb-5")
						textarea(placeholder="Ваш вопрос" class="mb-5")
						label(class="form__file d-flex align-items-end")
							input(type="file")
							img(class="lazyload" data-src="images/file.png" alt="img")
							span(class="form__file__text")
								| Прикрепите файл
						button(class="btn btn_form mt-5")
							| Заказать консультацию
