extends base.pug
block content
	div()
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								| Галерея
	div(class="interesting interesting__gov")
		div(class="container")
			div(class="row")
				div(class="col-lg-12")
					div(class="d-flex justify-content-between")
						ul(class="nav nav-pills" id="pills-tab-galy" role="tablist")
							li(class="nav-item")
								a(class="nav-link active" id="pills-galy1-tab" data-toggle="pill" href="#pills-galy1" role="tab" aria-controls="pills-galy1" aria-selected="true")
									| Видео
							li(class="nav-item")
								a(class="nav-link " id="pills-galy2-tab" data-toggle="pill" href="#pills-galy2" role="tab" aria-controls="pills-galy2" aria-selected="true")
									| Фото
						div(class="d-none d-lg-flex align-items-end custom__select__wr")
							span
								| Отображать по:
							div(class="custom__select m-2")
								select()
									option(value="0")
										|    9
									option(value="1")
										|    15
									option(value="2")
										|    20
									option(value="2")
										|    Все
					div(class="tab-content" id="pills-tabContentgaly")
						div(class="tab-pane fade show active" id="pills-galy1" role="tabpanel" aria-labelledby="pills-galy1-tab")
							div(class="row")
								- for (var x = 0; x < 9; x++)
									div(class="col-lg-4 d-flex flex-column align-items-center interesting__gov__item")
										<iframe width="100%" height="204" src="https://www.youtube.com/embed/BHNt1fcg8iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										div(class="w-100")
											span(class="interesting__gov__item__header")
												| Правильная обработка дерева пропиткой
											span(class="interesting__gov__item__more")
												a(href="#" class="products__link_more d-flex align-items-center")
													| Подробнее
													<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
						div(class="tab-pane fade" id="pills-galy2" role="tabpanel" aria-labelledby="pills-galy2-tab")
				div(class="col-12 d-none d-lg-flex justify-content-between align-items-start catalog__footer")
					a(href="#" class="products__link_more d-flex align-items-center")
						| Показать еще
						<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
					div(class='catalog__footer__pagination')
						nav(aria-label="...")
							ul(class="pagination")
								li(class="page-item page-item__left")
									a(class="page-link" href="#" tabindex="-1" aria-disabled="true")
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
								li(class="page-item")
									a(class="page-link" href="#")
										| 1
								li(class="page-item")
									a(class="page-link" href="#")
										| 2
								li(class="page-item")
									a(class="page-link" href="#")
										| 3
								li(class="page-item")
									span(class="page-link page-link__more")
										| ...
								li(class="page-item")
									a(class="page-link" href="#")
										| 7
								li(class="page-item page-item__right")
									a(class="page-link" href="#")
										<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
