extends base.pug
block content
    div(class="welcome")
        div(class="container h-100")
            div(class="row h-100")
                div(class="calc_wrap d-none d-lg-block")
                    form(class="calc")
                        span(class="calc__header")
                            | Какую пропитку подобрать?
                        div(class="calc__price pl-4")
                            span(class="calc__price__header")
                                | Цена
                            div(class="d-flex justify-content-between align-items-center")
                                input(type="text" placeholder="От  500 ₽")
                                input(type="text" placeholder="До  15 000 ₽")
                            div
                                span(class="calc__price__header")
                                    span(class="pb-4 d-block")
                                        | Тип защиты
                                    div
                                        label(class="checkbox")
                                            input(name="dzen" type="radio" value="nedzen")
                                            div(class="")
                                            span
                                                | Огнезащита
                                        label(class="checkbox")
                                            input(name="dzen" type="radio" value="werwer")
                                            div(class="")
                                            span
                                                | Биозащита
                                        label(class="checkbox")
                                            input(name="dzen" type="radio" value="werwer")
                                            div(class="")
                                            span
                                                | Комлексная защита
                                        label(class="checkbox")
                                            input(name="dzen" type="radio" value="werwer")
                                            div(class="")
                                            span
                                                | Защита для бани
                                        label(class="checkbox")
                                            input(name="dzen" type="radio" value="werwer")
                                            div(class="")
                                            span
                                                | Защита от трещин
                        button(class="btn btn_calc")
                            | Подобрать
                div(class="col-lg-4 offset-lg-1 p-lg-0 d-flex flex-column justify-content-center")
                    h1()
                        | Ваш дом и баня<br>под защитой
                    p
                        | Антисептики для древесины, бетона и ткани, лаки, краски, огнезащитные составы
            img(class="lazyload welcome__color" data-src="images/color.png" alt="cool")
    div(class="welcome__mobile d-block d-lg-none")
        div(class="container")
            div(class="row")

                form(class="calc")
                    div(class="calc__form__header")
                        div(class="custom__select m-2")
                            select()
                                option(value="0")
                                    | Подберите пропитку 
                                option(value="1")
                                    |    1
                                option(value="2")
                                    |    2
                    div(class="calc__price")
                        span(class="calc__price__header")
                            | Цена
                        div(class="d-flex justify-content-between align-items-center")
                            input(type="text" placeholder="От  500 ₽")
                            input(type="text" placeholder="До  15 000 ₽")
                        div
                            span(class="calc__price__header")
                                span(class="py-4 d-block")
                                    | Тип защиты
                                ul(class="nav nav-tabs" id="TabTypeDefens" role="tablist")
                                    li(class="nav-item")
                                        a(class="nav-link active" id="TabTypeDefens1-tab" data-toggle="tab" href="#TabTypeDefens1" role="tab" aria-controls="TabTypeDefens1" aria-selected="true")
                                            | Огнезащита
                                    li(class="nav-item")
                                        a(class="nav-link" id="TabTypeDefens2-tab" data-toggle="tab" href="#TabTypeDefens2" role="tab" aria-controls="TabTypeDefens2" aria-selected="true")
                                            | Биозащита
                                div(class="tab-content" id="TabTypeDefensContent")
                                    div(class="tab-pane fade show active" id="TabTypeDefens1" role="tabpanel" aria-labelledby="TabTypeDefens1-tab")
                                        label(class="checkbox_btn")
                                            input(name="defense" type="radio" value="1")
                                            div(class="checkbox_bg")
                                                span
                                                    | Защита для бани
                                        label(class="checkbox_btn")
                                            input(name="defense" type="radio" value="1")
                                            div(class="checkbox_bg")
                                                span
                                                    | Защита от трещин
                                        label(class="checkbox_btn")
                                            input(name="defense" type="radio" value="1")
                                            div(class="checkbox_bg")
                                                span
                                                    | Комлексная защита
                                    div(class="tab-pane fade" id="TabTypeDefens2" role="tabpanel" aria-labelledby="TabTypeDefens2-tab")
                        button(class="btn w-100")
                            | Подобрать
    div(class="products")
        div(class="container")
            div(class="row")
                div(class="col-12")
                    h2(class="pb-5")
                        | Товары
            div(class="row d-none d-lg-flex")
                div(class="col-12")
                    div(class="d-flex")
                        ul(class="nav nav-pills mb-3" id="pills-tab" role="tablist")
                            li(class="nav-item")
                                a(class="nav-link active" id="pills-recommended-tab" data-toggle="pill" href="#pills-recommended" role="tab" aria-controls="pills-recommended" aria-selected="true")
                                    | Рекомендуемое
                            li(class="nav-item")
                                a(class="nav-link " id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab" aria-controls="pills-new" aria-selected="true")
                                    | Новинки
                            li(class="nav-item")
                                a(class="nav-link " id="pills-popular-tab" data-toggle="pill" href="#pills-popular" role="tab" aria-controls="pills-popular" aria-selected="true")
                                    | Популярное
                            li(class="nav-item")
                                a(class="nav-link " id="pills-stock-tab" data-toggle="pill" href="#pills-stock" role="tab" aria-controls="pills-stock" aria-selected="true")
                                    | Акции
                    div(class="tab-content" id="pills-tabContent")
                        div(class="tab-pane fade show active" id="pills-recommended" role="tabpanel" aria-labelledby="pills-recommended-tab")
                            div()
                                div(id="products__slider")
                                    - for (var x = 0; x < 6; x++)
                                        div(class="d-flex justify-content-center")
                                            div(class="products__item products__item_hover d-flex flex-column align-items-center")
                                                div(class="products__header")
                                                    a(class="favorites" href="#")
                                                        img(class="" src="images/heart.png" alt="headrt img")
                                                    a(class="compare" href="#")
                                                        img(class="" src="images/top.png" alt="top img")
                                                a(href="#")
                                                    img(class="" src="images/products_1.png" alt="img")
                                                    span(class="products__name")
                                                        | Антекс Премиум
                                                    span(class="products__type")
                                                        | Огнебиозащитный антисептик
                                                form(action="script.php" method="post" class="w-100")
                                                    div(class="products__form w-100 d-flex justify-content-around align-items-center ")
                                                        p
                                                            | Тара
                                                        div(class="custom__select m-2")
                                                            select()
                                                                option(value="0")
                                                                    |    12 л
                                                                option(value="1")
                                                                    |    1
                                                                option(value="2")
                                                                    |    2
                                                        div(class="d-flex justify-content-left form__numbers")
                                                            button(class="number__minus")
                                                                | -
                                                            span(class="form__numbers_val")
                                                                | 0
                                                            input(type="number" class="mx-2" value="0" min="0" readonly hidden)
                                                            button(class="number__plus")
                                                                | +
                                                    div(class="products__links")
                                                        a(href="#" class="count d-flex flex-row mb-3")
                                                            img(src="images/count.png" alt="img" class="pr-2")
                                                            | Рассчитать количество
                                                        a(href="#" class="eye d-flex flex-row")
                                                            img(src="images/eye.png" alt="img" class="pr-2")
                                                            | Быстрый просмотр
                                                    div(class="products__price d-flex flex-column align-items-center")
                                                        span(class="products__price_old")
                                                            | 12 990 ₽
                                                        span(class="products__price_now")
                                                            | 12 110 ₽
                                                    button(type="submit" class="btn mt-5 mb-4")
                                                        | В корзину
                                                    a(class="w-100 flex-row justify-content-center align-items-center one-click" href="#")
                                                        img(class=" pr-2" src="images/mouse.png" alt="img")
                                                        | Купить в 1 клик
                                a(href="#" class="products__link_more")
                                    | Смотреть все товары
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                        div(class="tab-pane fade  " id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab")
                            | 2
                        div(class="tab-pane fade  " id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab")
                            | 3
                        div(class="tab-pane fade  " id="pills-stock" role="tabpanel" aria-labelledby="pills-stock-tab")
                            | 4
    div(class="products products__mobile d-block d-lg-none")
        div(class="container")
            div(class="row")
                div(class="col-12")
                    div(id="products__slider_mobile")
                        - for (var x = 0; x < 4; x++)
                            div(class="d-flex justify-content-center")
                                div(class="products__item d-flex flex-column align-items-center")
                                    div(class="products__header")
                                        a(class="favorites" href="#")
                                            img(class="" data-lazy="images/heart.png" alt="headrt img")
                                        a(class="compare" href="#")
                                            img(class="" data-lazy="images/top.png" alt="top img")
                                    a(href="#")
                                        img(class="" data-lazy="images/products_1.png" alt="img")
                                        span(class="products__name")
                                            | Антекс Премиум
                                        span(class="products__type")
                                            | Огнебиозащитный антисептик
                                    form(action="script.php" method="post" class="w-100")
                                        div(class="products__form w-100 d-flex justify-content-around align-items-center ")
                                            div(class="custom__select m-2")
                                                select()
                                                    option(value="0")
                                                        |    12 л
                                                    option(value="1")
                                                        |    1
                                                    option(value="2")
                                                        |    2
                                            div(class="d-flex justify-content-left form__numbers")
                                                button(class="number__minus")
                                                    | -
                                                span(class="form__numbers_val")
                                                    | 0
                                                input(type="number" class="mx-2" value="0" min="0" readonly hidden)
                                                button(class="number__plus")
                                                    | +
                                        div(class="products__links")
                                            a(href="#" class="count d-flex flex-row")
                                                img(class="" data-lazy="images/count.png" alt="img" class="pr-2")
                                                | Рассчитать количество
                                        div(class="products__price d-flex flex-column align-items-center")
                                            span(class="products__price_now")
                                                | 12 110 ₽
                                        button(type="submit" class="btn")
                                            | В корзину
                                        a(class="w-100 d-flex flex-row justify-content-center align-items-center one-click" href="#")
                                            img(class=" pr-2" data-lazy="images/mouse.png" alt="img")
                                            | Купить в 1 клик
    div(class="advantages d-none d-lg-block")
        div(class="container")
            div(class="row")
                div(class="col-12")
                    h2
                        | Почему выбирают нас
            div(class="row")
                div(class="col-lg-4 pb-5")
                    div(class="d-flex align-items-start advantages__item")
                        img(class="lazyload" data-src="images/advantages1.png" alt="img")
                        div(class="pl-3")
                            h3
                                | Гарантия качества
                            p
                                | Работаем без посредников. Только прямые поставки от производителей
                div(class="col-lg-4 pb-5")
                    div(class="d-flex align-items-start advantages__item")
                        img(class="lazyload" data-src="images/advantages2.png" alt="img")
                        div(class="pl-3")
                            h3
                                | Бесплатные образцы
                            p
                                | Предоставим пробник пропитки бесплатно! Убедитесь в качестве
                div(class="col-lg-4 pb-5")
                    div(class="d-flex align-items-start advantages__item")
                        img(class="lazyload" data-src="images/advantages3.png" alt="img")
                        div(class="pl-3")
                            h3
                                | 20 лет на рынке
                            p
                                | Предлагаем только качественные товары по оптимальной цене
                div(class="col-lg-4 pb-5 pb-lg-0")
                    div(class="d-flex align-items-start advantages__item")
                        img(class="lazyload" data-src="images/advantages4.png" alt="img")
                        div(class="pl-3")
                            h3
                                | Cкидки и акции
                            p
                                | С нами вы получаете лучшее качество по выгодной цене
                div(class="col-lg-4 pb-5 pb-lg-0")
                    div(class="d-flex align-items-start advantages__item")
                        img(class="lazyload" data-src="images/advantages5.png" alt="img")
                        div(class="pl-3")
                            h3
                                | Бесплатная доставка
                            p
                                | Доставим бесплатно по Москве при сумме покупки от 10 000 ₽.
                div(class="col-lg-4")
                    div(class="d-flex align-items-start advantages__item")
                        img(class="lazyload" data-src="images/advantages6.png" alt="img")
                        div(class="pl-3")
                            h3
                                | Поддержка с 6:30 до 24
                            p
                                | Ответим на все ваши вопросы и проконсультируем в любое время
    div(class="choose")
        div(class="container")
            div(class="row")
                div(class="col-12")
                    h2
                        | Подберите подходящий состав
            div(class="row d-none d-lg-flex")
                div(class="col-12")
                    div(class="d-flex")
                        ul(class="nav nav-pills" id="pills-tabq" role="tablist")
                            li(class="nav-item")
                                a(class="nav-link active" id="pills-value-tab" data-toggle="pill" href="#pills-value" role="tab" aria-controls="pills-value" aria-selected="true")
                                    | Пропитки по назначению
                            li(class="nav-item")
                                a(class="nav-link " id="pills-brend-tab" data-toggle="pill" href="#pills-brend" role="tab" aria-controls="pills-brend" aria-selected="true")
                                    | Пропитки по бренду
                    div(class="tab-content" id="pills-tabContentq")
                        div(class="tab-pane fade show active" id="pills-value" role="tabpanel" aria-labelledby="pills-value-tab")
                            div(class="choose__two__nav d-flex justify-content-between align-items-center")
                                each val, index in [ 'Огнебиозащитные пропитки', 'Зимние пропитки для дерева', 'Масловоск для дерева', 'Комплексная обработка']
                                    if index == 0
                                        div(class="choose__two__header active")
                                            = val
                                    else
                                        div(class="choose__two__header")
                                            = val
                                div(class="d-flex")
                                    <div class="sldier_arrow_next prev"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                                    <div class="sldier_arrow_next next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(class="products__sliderq")
                                - for ( var s = 0; s < 4; s++ )
                                    div(class="pt-5")
                                        div(class="row")
                                            div(class="col-6 d-flex flex-column justify-content-between")
                                                div()
                                                    p
                                                        | Огнезащитные пропитки для древесины и огнезащитные антисептики. Антисептики для защиты древесины от плесини и грибка  Пропитки для дерева и бетона. Огнезащитные антисептики для древесины.
                                                    p
                                                        | огнезащитные пропитки АНТЕКС, огнезащитные составы АНТЕКС выпускается длязащиты деревянных конструкций, пиломатериалов и строенийиз древесины, таких как дома из бревна, срубы домов, дома из бруса, каркасные дома из пиломатериалов для защиты их от огня, плесени, грибка, потемнения, жука короеда и личинок жука древоточца. Огнебиозащитные антисептики серии АНТЕКС - составы и пропитки, предназначенные для огнезащиты и антисептирования древесины, бетона и ткани.                                                
                                                a(href="#" class="more d-flex justify-content-start")
                                                    | Подробнее
                                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                                            div(class="col-6")
                                                div(class="choose__two_slider")
                                                    - for ( var i = 0; i < 3; i++ )
                                                        div
                                                            div(class="d-flex justify-content-start pl-4")
                                                                div(class="products__item d-flex flex-column align-items-center")
                                                                    div(class="products__header")
                                                                        a(class="favorites" href="#")
                                                                            img(class="" data-lazy="images/heart.png" alt="headrt img")
                                                                        a(class="compare" href="#")
                                                                            img(class="" data-lazy="images/top.png" alt="top img")
                                                                    div(class="d-flex align-items-center w-100")
                                                                        img(data-lazy="images/products_2.png" alt="img")
                                                                        div(class="w-100 pl-2")
                                                                            a(href="#")
                                                                                span(class="products__name")
                                                                                    | Антекс Премиум
                                                                                span(class="products__type")
                                                                                    | Огнебиозащитный антисептик
                                                                            form(action="script.php" method="post" class="w-100")
                                                                                div(class="products__form w-100 d-flex justify-content-around align-items-center ")
                                                                                    p
                                                                                        | Тара
                                                                                    div(class="custom__select m-2")
                                                                                        select()
                                                                                            option(value="0")
                                                                                                |    12 л
                                                                                            option(value="1")
                                                                                                |    1
                                                                                            option(value="2")
                                                                                                |    2
                                                                                    div(class="d-flex justify-content-left form__numbers")
                                                                                        button(class="number__minus")
                                                                                            | -
                                                                                        span(class="form__numbers_val")
                                                                                            | 0
                                                                                        input(type="number" class="mx-2" value="0" min="0" readonly hidden)
                                                                                        button(class="number__plus")
                                                                                            | +
                                                                                div(class="products__links d-flex flex-row justify-content-between w-100")
                                                                                    a(href="#" class="count d-flex flex-row")
                                                                                        img(class="" data-lazy="images/count.png" alt="img" class="pr-2")
                                                                                        | Рассчитать
                                                                                    a(class="w-100 d-flex flex-row justify-content-center align-items-center one-click" href="#")
                                                                                        img(class="pr-2" data-lazy="images/mouse.png" alt="img")
                                                                                        | Купить в 1 клик
                                                                                div(class="d-flex justify-content-between")
                                                                                    div(class="products__price d-flex flex-column align-items-start")
                                                                                        span(class="products__price_old")
                                                                                            | 12 990 ₽
                                                                                        span(class="products__price_now")
                                                                                            | 12 110 ₽
                                                                                    button(type="submit" class="btn")
                                                                                        | В корзину
                                                a(href="#" class="more products__link_more ")
                                                    span(class="d-flex")
                                                        | Смотреть все товары
                                                        <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>

                        div(class="tab-pane fade  " id="pills-brend" role="tabpanel" aria-labelledby="pills-brend-tab")
                            | 2
    div(class="products__mobile choose__mobile d-block d-lg-none ")
        div(class="container")
            div(class="row ")
                div(class="col-12")
                    div(class="d-flex")
                        ul(class="nav nav-pills" id="pills-tabq" role="tablist")
                            li(class="nav-item")
                                a(class="nav-link active" id="pills-value-tab" data-toggle="pill" href="#choose__mobilepills-value" role="tab" aria-controls="choose__mobilepills-value" aria-selected="true")
                                    | Пропитки по назначению
                            li(class="nav-item")
                                a(class="nav-link " id="pills-brend-tab" data-toggle="pill" href="#choose__mobilepills-brend" role="tab" aria-controls="choose__mobilepills-brend" aria-selected="true")
                                    | Пропитки по бренду
                    div(class="tab-content" id="choose__mobilepills-tabContentq")
                        div(class="tab-pane fade show active" id="choose__mobilepills-value" role="tabpanel" aria-labelledby="choose__mobilepills-value-tab")
                            ul(class="choose__two__nav d-flex justify-content-between align-items-center nav nav-tabs" id="myTab1" role="tablist")
                                li(class="nav-item")
                                    a(class="nav-link active" id="w1-tab" data-toggle="tab" href="#w1" role="tab" aria-controls="w1" aria-selected="true")
                                        | Огнебиозащитные
                                li(class="nav-item")
                                    a(class="nav-link" id="w2-tab" data-toggle="tab" href="#w2" role="tab" aria-controls="w2" aria-selected="false")
                                        | Зимние пропитки
                                li(class="nav-item")
                                    a(class="nav-link" id="w3-tab" data-toggle="tab" href="#w3" role="tab" aria-controls="w3" aria-selected="false")
                                        | Защита от трещин
                                li(class="nav-item")
                                    a(class="nav-link" id="w4-tab" data-toggle="tab" href="#w4" role="tab" aria-controls="w4" aria-selected="false")
                                        | Защита для бани
                                li(class="nav-item")
                                    a(class="nav-link" id="w5-tab" data-toggle="tab" href="#w5" role="tab" aria-controls="w5" aria-selected="false")
                                        | Комплексная защита
                            div(class="tab-content" id="myTabContent")
                                div(class="tab-pane fade show active" id="w1" role="tabpanel" aria-labelledby="w1-tab")
                                    div()
                                        span(class="choose__mobile__header")
                                            | Огнезащитные пропитки для древесины 
                                        p
                                            | Огнезащитные пропитки для древесины и огнезащитные антисептики. Антисептики для защиты древесины от плесини и грибка  Пропитки для дерева и бетона. Огнезащитные антисептики для древесины.
                                        p
                                            | огнезащитные пропитки АНТЕКС, огнезащитные составы АНТЕКС выпускается длязащиты деревянных конструкций, пиломатериалов и строенийиз древесины, таких как дома из бревна, срубы домов, дома из бруса, каркасные дома из пиломатериалов для защиты их от огня, плесени, грибка, потемнения, жука короеда и личинок жука древоточца. Огнебиозащитные антисептики серии АНТЕКС - составы и пропитки, предназначенные для огнезащиты и антисептирования древесины, бетона и ткани.                                                
                                    a(href="#" class="more d-flex justify-content-start")
                                        | Подробнее
                                        <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                                    div(class="qproducts__slider_mobile")
                                        - for (var x = 0; x < 4; x++)
                                            div(class="d-flex justify-content-center")
                                                div(class="products__item d-flex flex-column align-items-center")
                                                    div(class="products__header")
                                                        a(class="favorites" href="#")
                                                            img(class="" data-lazy="images/heart.png" alt="headrt img")
                                                        a(class="compare" href="#")
                                                            img(class="" data-lazy="images/top.png" alt="top img")
                                                    a(href="#")
                                                        img(class="" data-lazy="images/products_1.png" alt="img")
                                                        span(class="products__name")
                                                            | Антекс Премиум
                                                        span(class="products__type")
                                                            | Огнебиозащитный антисептик
                                                    form(action="script.php" method="post" class="w-100")
                                                        div(class="products__form w-100 d-flex justify-content-around align-items-center ")
                                                            div(class="custom__select m-2")
                                                                select()
                                                                    option(value="0")
                                                                        |    12 л
                                                                    option(value="1")
                                                                        |    1
                                                                    option(value="2")
                                                                        |    2
                                                            div(class="d-flex justify-content-left form__numbers")
                                                                button(class="number__minus")
                                                                    | -
                                                                span(class="form__numbers_val")
                                                                    | 0
                                                                input(type="number" class="mx-2" value="0" min="0" readonly hidden)
                                                                button(class="number__plus")
                                                                    | +
                                                        div(class="products__links")
                                                            a(href="#" class="count d-flex flex-row")
                                                                img(class="" data-lazy="images/count.png" alt="img" class="pr-2")
                                                                | Рассчитать количество
                                                        div(class="products__price d-flex flex-column align-items-center")
                                                            span(class="products__price_now")
                                                                | 12 110 ₽
                                                        button(type="submit" class="btn")
                                                            | В корзину
                                                        a(class="w-100 d-flex flex-row justify-content-center align-items-center one-click" href="#")
                                                            img(class=" pr-2" data-lazy="images/mouse.png" alt="img")
                                                            | Купить в 1 клик
                                div(class="tab-pane fade" id="w2" role="tabpanel" aria-labelledby="w2-tab")
                                div(class="tab-pane fade" id="w3" role="tabpanel" aria-labelledby="w3-tab")
                                div(class="tab-pane fade" id="w4" role="tabpanel" aria-labelledby="w4-tab")
                                div(class="tab-pane fade" id="w5" role="tabpanel" aria-labelledby="w5-tab")
                        div(class="tab-pane fade  " id="choose__mobilepills-brend" role="tabpanel" aria-labelledby="choose__mobilepills-brend-tab")
                                | 2
                    a(href="#" class="more products__link_more ")
                        span(class="d-flex")
                            | Смотреть все товары
                            <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
    div(class="recommendations d-none d-lg-block")
        div(class="container")
            div(class="row")
                div(class="col-12")
                    h2
                        | Рекомендации технолога
            div(class="row")
                div(class="col-lg-6")
                    div(class="accordion" id="accordionExample")
                        div(class="card")
                            div(class="card-header " id="headingOne")
                                h3(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                    | Что нужно знать при выборе огнезащитной пропитки
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample")
                                div(class="card-body")
                                    ul
                                        li(class="d-flex align-items-start")
                                            img(class="lazyload" data-src="images/what.png" alt="img" class=" pt-2 pr-3")
                                            span(class="color_1")
                                                | Для чего нужна обработка сруба дерева антисептиками и огнезащитными пропитками
                                        li(class="d-flex align-items-start")
                                            img(class="lazyload" data-src="images/ok.png" alt="img" class=" pt-2 pr-3")
                                            span(class="color_2")
                                                | Что нужно знать при выборе антисептика для дерева
                                        li(class="d-flex align-items-start")
                                            img(class="lazyload" data-src="images/what.png" alt="img" class="pt-2 pr-3")
                                            span
                                                | Что нужно знать при выборе огнезащитной пропитки для дерева
                        div(class="card")
                            div(class="card-header card-header__gre" id="headingTwo")
                                h3(class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                                    | Что нужно знать при выборе огнезащитной пропитки
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample")
                                div(class="card-body")
                                    | fogsfgh
                        div(class="card")
                            div(class="card-header " id="headingthree")
                                h3(class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                                    | Что нужно знать при выборе огнезащитной пропитки
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample")
                                div(class="card-body")
                                    | fogsfgh
                        div(class="card")
                            div(class="card-header card-header__gre" id="headingFour")
                                h3(class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                                    | Что нужно знать при выборе огнезащитной пропитки
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample")
                                div(class="card-body")
                                    | fogsfgh
                        div(class="card")
                            div(class="card-header " id="headingFive")
                                h3(class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
                                    | Что нужно знать при выборе огнезащитной пропитки
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample")
                                div(class="card-body")
                                    | fogsfgh
                        div(class="card")
                            div(class="card-header card-header__gre" id="headingSix")
                                h3(class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix")
                                    | Что нужно знать при выборе огнезащитной пропитки
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                            div(id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample")
                                div(class="card-body")
                                    | fogsfgh
                div(class="col-lg-6 recommendations_right")
                    span(class="recommendations_right_header")
                        | Для чего нужна обработка сруба дерева антисептиками и огнезащитными пропитками
                    ul
                        li
                            | -по степени их эффективности,
                        li
                            | -времени и сроку эффективной работы на защищаемой ими поверхности,
                    p
                        | Для рядового потребителя, не посвященного в профессиональные тонкости и механизы защиты поверхности это подразделяется обычно как:
                    ul
                        li
                            | -Огнебиозащитные составы и антисептики расширенного спектра защиты и назначения с примерно одинаковыми
                    a(href="#" class="more products__link_more ")
                        span(class="d-flex")
                            | Читать полностью
                            <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                    div(class="recommendations_more d-flex justify-content-between align-items-end")
                        div(class="w-50")
                            span(class="recommendations_right_header")
                                | Не нашли свой вопрос?
                            p
                                | Спросите у нас, технлог свяжется с вами через 15 минут
                        button(class="btn w-50")
                            | Задать вопрос
    div(class="interesting")
        div(class="container")
            div(class="row")
                div(class="col-12")
                    h2
                        | Вам будет интересно
            div(class="row")
                div(class="col-lg-7")
                    div(class="d-flex")
                        ul(class="nav nav-pills" id="pills-tab-galy" role="tablist")
                            li(class="nav-item")
                                a(class="nav-link active" id="pills-galy1-tab" data-toggle="pill" href="#pills-galy1" role="tab" aria-controls="pills-galy1" aria-selected="true")
                                    | Видеогалерея
                            li(class="nav-item")
                                a(class="nav-link " id="pills-galy2-tab" data-toggle="pill" href="#pills-galy2" role="tab" aria-controls="pills-galy2" aria-selected="true")
                                    | Фотогалерея
                    div(class="tab-content" id="pills-tabContentgaly")
                        div(class="tab-pane fade show active" id="pills-galy1" role="tabpanel" aria-labelledby="pills-galy1-tab")
                            div(class="posi_rel")
                                div(id="video__slider")
                                    - for (var x = 0; x < 4; x++)
                                        div(class=" d-flex flex-column align-items-center")
                                            <iframe width="100%" height="380" src="https://www.youtube.com/embed/BHNt1fcg8iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                div(id="video__slider_dots" class="d-none d-lg-block")
                                    - for (var x = 0; x < 4; x++)
                                        div()
                                            img(class="lazyload" data-src="https://img.youtube.com/vi/XYgcNVwHUdg/hqdefault.jpg" alt="img")
                                a(class="feedback__link more products__link_more feedback__link_all" href="#")
                                    span(class="d-flex align-items-end")
                                        span()
                                            | Смотреть все видео
                                        <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                        div(class="tab-pane fade  " id="pills-galy2" role="tabpanel" aria-labelledby="pills-galy2-tab")
                            | 2
                div(class="col-lg-5 interesting_2 interesting_feedback  d-none d-lg-block")
                    div(class="d-flex")
                        ul(class="nav nav-pills" id="pills-tab-n" role="tablist")
                            li(class="nav-item")
                                a(class="nav-link active" id="pills-n1-tab" data-toggle="pill" href="#pills-n1" role="tab" aria-controls="pills-n1" aria-selected="true")
                                    | Отзывы клиентов
                            li(class="nav-item")
                                a(class="nav-link " id="pills-n2-tab" data-toggle="pill" href="#pills-n2" role="tab" aria-controls="pills-n2" aria-selected="true")
                                    | Письменные благодарности
                    div(class="tab-content" id="pills-tabContentn")
                        div(class="tab-pane fade show active" id="pills-n1" role="tabpanel" aria-labelledby="pills-n1-tab")
                            -for (var x = 0; x < 3; x++)
                                div(class="feedback__item")
                                    div(class="d-flex justify-content-between align-items-end")
                                        span(class="feedback__header")
                                            | Василий Сидоров
                                        span(class="feedback__date")
                                            | 16.04.2019
                                    p(class="feedback__description")
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo vivera...
                                    a(class="feedback__link more products__link_more" href="#")
                                        span(class="d-flex align-items-end")
                                            span()
                                                | Читать полностью
                                            span(class="feedback__link__line d-block pl-2")
                                                | →
                            a(class="feedback__link more products__link_more feedback__link_all" href="#")
                                span(class="d-flex align-items-end")
                                    span()
                                        | Читать все отзывы
                                    <div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
                        div(class="tab-pane fade  " id="pills-n2" role="tabpanel" aria-labelledby="pills-n2-tab")
    div(class="ask")
        div(class="container")
            div(class="row align-items-center")
                div(class="col-lg-6")
                    h2
                        | Остались вопросы?
                    span(class="ask__head")
                        | Получите консультацию бесплатно  с 6:30 до 24:00
                    div(class="ask__item d-none d-lg-flex")
                        img(class="lazyload" data-src="images/k.png" alt="img")
                        p(class="pl-4")
                            | Если хотите получить письменный ответ, оставте email. Чтобы получить консультацию по телефону, укажите свой контактный номер.
                    div(class="ask__item d-none d-lg-flex")
                        img(class="lazyload" data-src="images/k.png" alt="img")
                        p(class="pl-4")
                            | Если хотите получить письменный ответ, оставте email. Чтобы получить консультацию по телефону, укажите свой контактный номер.
                div(class="col-lg-4 offset-lg-1")
                    form(class="form")
                        input(type="text" placeholder="Имя" class="mb-5")
                        label(class="input__phone mb-5")
                            input(type="text" placeholder="+7 (___) ___ _____")
                            span(class="input__phone__placeholder")
                                | Телефон
                        input(type="email" placeholder="Email" class="mb-5")
                        textarea(placeholder="Ваш вопрос" class="mb-5")
                        label(class="form__file d-flex align-items-end")
                            input(type="file")
                            img(class="lazyload" data-src="images/file.png" alt="img")
                            span(class="form__file__text")
                                | Прикрепите файл
                        button(class="btn btn_form mt-5")
                            | Заказать консультацию

