extends base.pug
block content
	div()
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								a(href="#")
									| Каталог
							li(class="breadcrumb-item")
								| Антекс премиум
	div(class="item")
		div(class="container")
			div(class="row")
				div(class="col-lg-7")
					div(class="d-block d-lg-none")
						span(class="item__header")
							| Антекс премиум
						span(class="item__description")
							| Огнезащитная пропитка для древесины
						div(class="d-flex justify-content-between")
							div(class="item__img")
								img(class="lazyload img-fluid" data-src="images/products_2.png" alt="img")
							div()
								div(class="item__now")
									div(class="free_q d-flex align-items-end")
										img(class="lazyload " data-src="images/ok.png" alt="img")
										span()
											| Есть в наличие
								span(class="item__price")
									| <b>12 110</b> ₽
						div(class="d-flex justify-content-between py-4")
							a(class="favorites" href="#")
								img(class="" src="images/heart_2.png" alt="headrt img")
							a(class="compare" href="#")
								img(class="" src="images/top_2.png" alt="top img")
							div(class="d-flex align-items-end")
								img(class="lazyload" data-src="images/wallet-with-card-sticking-out.png" alt="img")
								span(class="item__free")
									| Нашли дешевле?
						div(class="item__content")
							div(class="item__now")
								form(action="script.php" method="post" class="w-100")
									div(class="products__form d-flex justify-content-between align-items-end ")
										div(class="products__form__first")
											p(class="pb-4")
												| Тара
											div(class="d-flex justify-content-between")
												label(class="checkbox__custom")
													input(type="radio" name="value" class="checkbox")
													span
														| 12 л
												label(class="checkbox__custom")
													input(type="radio" name="value" class="checkbox" disabled)
													span
														| 24 кг
												label(class="checkbox__custom")
													input(type="radio" name="value" checked class="checkbox")
													span
														| 50 кг
									div(class="d-flex justify-content-between align-items-end")
										div(class="d-flex justify-content-between")
											div()
												a(href="#" class="count d-flex align-items-center flex-row mb-3")
													img(src="images/count_2.png" alt="img" class="pr-4")
													| Рассчитать 
										div()
											p(class="pb-4")
												| Количество
											div(class="d-flex justify-content-left form__numbers")
												button(class="number__minus")
													| -
												span(class="form__numbers_val")
													| 0
												input(type="number" class="mx-2" value="0" min="0" readonly hidden)
												button(class="number__plus")
													| +
									div(class="products__form__footer  pt-5")
										button(class="btn")
											| В корзину
										button(class="btn click mt-4" )
											| Купить в один клик
					div(class="d-none d-lg-flex align-items-center justify-content-start")
						div(class="item__img")
							img(class="lazyload" data-src="images/products_2.png" alt="img")
						div(class="item__content pl-4")
							span(class="item__header")
								| Антекс премиум
							span(class="item__description")
								| Огнезащитная пропитка для древесины
							div(class="py-4 d-flex align-items-end justify-content-between")
								span(class="item__price")
									| <b>12 110</b> ₽
								div(class="d-flex align-items-end")
									img(class="lazyload" data-src="images/wallet-with-card-sticking-out.png" alt="img")
									span(class="item__free")
										| Нашли дешевле?
							div(class="item__now")
								div(class="free_q d-flex align-items-end")
									img(class="lazyload" data-src="images/ok.png" alt="img")
									span()
										| Есть в наличие
							div(class="item__now")
								form(action="script.php" method="post" class="w-100")
									div(class="products__form d-flex justify-content-between align-items-end ")
										div(class="products__form__first")
											p(class="pb-4")
												| Тара
											div(class="d-flex justify-content-between")
												label(class="checkbox__custom")
													input(type="radio" name="value" class="checkbox")
													span
														| 12 л
												label(class="checkbox__custom")
													input(type="radio" name="value" class="checkbox" disabled)
													span
														| 24 кг
												label(class="checkbox__custom")
													input(type="radio" name="value" checked class="checkbox")
													span
														| 50 кг
										div()
											p(class="pb-4")
													| Количество
											div(class="d-flex justify-content-left form__numbers")
												button(class="number__minus")
													| -
												span(class="form__numbers_val")
													| 0
												input(type="number" class="mx-2" value="0" min="0" readonly hidden)
												button(class="number__plus")
													| +
									div()
										div(class="d-flex justify-content-between")
											div()
												a(href="#" class="count d-flex align-items-center flex-row mb-3")
													img(src="images/count_2.png" alt="img" class="pr-2")
													| Рассчитать количество
											div(class="d-flex")
												a(class="favorites" href="#")
													img(class="" src="images/heart_2.png" alt="headrt img")
												a(class="compare" href="#")
													img(class="" src="images/top_2.png" alt="top img")
										div(class="products__form__footer d-flex justify-content-between pt-5")
											button(class="btn click" )
												| Купить в один клик
											button(class="btn")
												| В корзину
				div(class="item__second col-lg-4 offset-lg-1 d-none d-lg-block")
					span(class="item__second__header")
						| То же качество по лучшей цене
					div(class="item__second_box")
						div(class="item__second_box__first")
							span(class="item__second_box__header")
								| Антекс огнебиозащитный антисептик для древесины разработан одним из лучших...
							span(class="interesting__gov__item__more d-flex justify-content-end")
								a(href="#" class="products__link_more d-flex align-items-center")
									| Подробнее
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
						form(class="item__second__item")
							div(class="d-flex")
								div(class="item__second__item__first")
									img(class="lazyload img-fluid" data-src="images/products_2.png" alt="img")
								div(class="item__second__item__second")
									span(class="item__second__item__header")
										| Антекс Премиум
									span(class="item__second__item__description")
										| Огнебиозащитный антисептик
									div()
										div(class="products__form d-flex justify-content-between align-items-end ")
											div(class="products__form__first d-flex align-items-end justify-content-between")
												img(src="images/count_2.png" alt="img" class="pr-2")
												div(class="custom__select m-2")
													select()
														option(value="0")
															|    48 кг
														option(value="1")
															|    1
														option(value="2")
															|    2
												div(class="d-flex justify-content-left form__numbers")
													button(class="number__minus")
														| -
													span(class="form__numbers_val")
														| 0
													input(type="number" class="mx-2" value="0" min="0" readonly hidden)
													button(class="number__plus")
														| +
									div(class="d-flex align-items-end justify-content-between")
										div(class="d-flex")
											a(class="favorites" href="#")
												img(class="" src="images/heart_2.png" alt="headrt img")
											a(class="compare" href="#")
												img(class="" src="images/top_2.png" alt="top img")
										span(class="item__price")
											| <b>12 110</b> ₽
									div(class="pt-5")
										button(class="btn w-100")
											| В корзину
							div(class="item__second__item__footer")
								a(class="w-100 d-flex flex-row justify-content-start align-items-center one-click" href="#")
									img(class=" pr-2" src="images/mouse.png" alt="img")
									| Купить в 1 клик
			div(class="row d-lg-flex")
				div(class="col-12")
					div(class="d-flex")
						ul(class="nav nav-pills mb-3" id="pills-tab" role="tablist")
							li(class="nav-item")
								a(class="nav-link active" id="pills-recommended-tab" data-toggle="pill" href="#pills-recommended" role="tab" aria-controls="pills-recommended" aria-selected="true")
									| Описание
							li(class="nav-item")
								a(class="nav-link " id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab" aria-controls="pills-new" aria-selected="true")
									| Характеристики
							li(class="nav-item")
								a(class="nav-link " id="pills-popular-tab" data-toggle="pill" href="#pills-popular" role="tab" aria-controls="pills-popular" aria-selected="true")
									| Инструкция
							li(class="nav-item")
								a(class="nav-link " id="pills-stock-tab" data-toggle="pill" href="#pills-stock" role="tab" aria-controls="pills-stock" aria-selected="true")
									| Сертификаты
							li(class="nav-item")
								a(class="nav-link " id="pills-what-tab" data-toggle="pill" href="#pills-what" role="tab" aria-controls="pills-what" aria-selected="true")
									| Задать вопрос
					div(class="tab-content" id="pills-tabContent")
						div(class="tab-pane fade show active " id="pills-recommended" role="tabpanel" aria-labelledby="pills-recommended-tab")
							div(class="article")
								span(class="tab-content__header")
									| Огнезащитная пропитка для дерева АНТЕКС ПРЕМИУМ. 
								p()
									| Огнезащитная пропитка АнтексМногоцелевой огнебиозащитный антисептик для древесины модификации "АНТЕКС" разработан одним из лучших Научно-Производственных предприятий России - ООО "Кайсар", производство которого находится в г.Ижевск. 
								p()
									| Огнезащитные пропитки и антисептики "АНТЕКС" -  это современная, усовершенствованная, усиленная по характеристикам и защитным свойствам линейка профессиональных пропиток серии "КАЙСАР". Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ требования и со сверхнадежными характеристиками качества защиты древесины для их применения в суровых и неблагоприятных климатических условиях, включая районы Крайнего Севера до Южных федеральных округов РФ, под задачи и критерии надежности и качества защиты, предьявляемые работающими в сверхсуровых условиях строительными организациями и предприятиями. 
								p()
									| Огнезащитный антисептик «Антекс Премиум» - комплексная всесезонная и недорогая огнебиозащитная пропитка ПРЕМИУМ класса для древесины и материалов на ее основе с мощным антисептическим эффектом. Пропитки серии "КАЙСАР" модификации "АНТЕКС" специально создавались под жесткие, ПРОФЕССИОНАЛЬНЫЕ 
						div(class="tab-pane fade article " id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab")
							| 2
						div(class="tab-pane fade article " id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab")
							| 3
						div(class="tab-pane fade article " id="pills-stock" role="tabpanel" aria-labelledby="pills-stock-tab")
							| 4
						div(class="tab-pane fade article " id="pills-what" role="tabpanel" aria-labelledby="pills-what-tab")
							| 5
	div(class="bu_we")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| С этим покупают
			div(class="row")
				div(class="col-12")
					div()
						div(id="products__slider")
							- for (var x = 0; x < 6; x++)
								div()
									div(class="d-flex justify-content-center")
										div(class="products__item products__item_hover d-flex flex-column align-items-center")
											div(class="products__header")
												a(class="favorites" href="#")
													img(class="" src="images/heart.png" alt="headrt img")
												a(class="compare" href="#")
													img(class="" src="images/top.png" alt="top img")
											a(href="#")
												img(class="" src="images/products_1.png" alt="img")
												span(class="products__name")
													| Антекс Премиум
												span(class="products__type")
													| Огнебиозащитный антисептик
											form(action="script.php" method="post" class="w-100")
												div(class="products__form w-100 d-flex justify-content-around align-items-center ")
													p
														| Тара
													div(class="custom__select m-2")
														select()
															option(value="0")
																|    12 л
															option(value="1")
																|    1
															option(value="2")
																|    2
													div(class="d-flex justify-content-left form__numbers")
														button(class="number__minus")
															| -
														span(class="form__numbers_val")
															| 0
														input(type="number" class="mx-2" value="0" min="0" readonly hidden)
														button(class="number__plus")
															| +
												div(class="products__links")
													a(href="#" class="count d-flex flex-row mb-3")
														img(src="images/count.png" alt="img" class="pr-2")
														| Рассчитать количество
													a(href="#" class="eye d-flex flex-row")
														img(src="images/eye.png" alt="img" class="pr-2")
														| Быстрый просмотр
												div(class="products__price d-flex flex-column align-items-center")
													span(class="products__price_old")
														| 12 990 ₽
													span(class="products__price_now")
														| 12 110 ₽
												div(class="d-flex justify-content-center")
													button(type="submit" class="btn mt-5 mb-4")
														| В корзину
												a(class="w-100 flex-row justify-content-center align-items-center one-click" href="#")
													img(class=" pr-2" src="images/mouse.png" alt="img")
													| Купить в 1 клик
						a(href="#" class="products__link_more d-none d-lg-flex ")
							| Смотреть все товары
							<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
	div(class="d-none d-lg-block")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| Также вы смотрели
				div(class="col-12")
					div(class="youCheckedItems")
						- for (var i = 0; i < 8; i++)
							div(class="d-flex justify-content-center products__item_wrap")
								div(class="products__item  d-flex flex-column align-items-center")
									a(href="#" class="products__item__top d-flex flex-row")
										img(class="" src="images/products_1.png" alt="img")
										div(class="pl-3")
											div(class="d-flex flex-column")
												span(class="products__name")
													| Антекс Премиум
												span(class="products__type")
													| Огнебиозащитный антисептик
											div(class="products__price d-flex flex-column align-items-start")
												span(class="products__price_old")
													| 12 990 ₽
												span(class="products__price_now")
													| 12 110 ₽
									div(class="products__links")
										a(href="#" class="eye d-flex flex-row")
											img(src="images/eye_2.png" alt="img" class="pr-2 eye_1")
											img(src="images/eye.png" alt="img" class="pr-2 eye_2")
											| Быстрый просмотр



