extends base.pug
block content
	div()
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								| Оформление заказа
	div(class="step")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1
						| Оформление заказа
			div(class="row ")
				div(class="col-lg-8 step_s")
					form(class="form form__zakaz")
						div(class="step__item ")
							div(class="step__header")
								div(class="step__number")
									| 1
								span(class="step__text__header")
									| Тип плательщика и регион
							div(class="step__body step__body_pad")
								div()
									span(class="step__body__header")
										| Тип плательщика
									div(class=" step__body_face d-flex align-items-center py-5")
										div(class="checkbox__circle d-flex align-items-end justify-content-start")
											label(class="m-0")
												input(type="radio" name="face" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
												p( class="form__info")
													| Физическое лицо
										div(class="checkbox__circle d-flex align-items-end justify-content-start ml-lg-5")
											label(class="m-0")
												input(type="radio" name="face" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
												span(for="checkbox" class="checkbox__label")
												p( class="form__info")
													| Юридическое лицо
									div()
										span(class="step__body__header py-4")
											| Местоположение 
											span(class="color_red")
												| *
										span(class="step__body__header step__body__header_g pb-4")
											| Ваш город
										input(class="" type="text" placeholder="Введите ваш город")
									div(class="d-flex justify-content-end py-5")
										a(class="btn" href="#step_1")
											| Продолжить
						div(class="step__item complete" id="step_1")
							div(class="step__header")
								div(class="step__number")
									| 2
								span(class="step__text__header")
									| Покупатель
							div(class="step__body step__body_pad")
								div()
									div(class="pb-4")
										span(class="step__body__header step__body__header_g pb-4")
											| Имя
											span(class="color_red")
												| *
										input(class="" type="text" placeholder="")
									div(class="pb-4")
										span(class="step__body__header step__body__header_g pb-4")
											| Телефон
											span(class="color_red")
												| *
										input(class="" type="text" placeholder="+7 (___)-___-____")
									div(class="pb-4")
										span(class="step__body__header step__body__header_g pb-4")
											| Email
											span(class="color_red")
												| *
										input(class="" type="text" placeholder="example@mail.com")
									div(class="pb-4")
										span(class="step__body__header step__body__header_g pb-4")
											| Адрес доставки
											span(class="color_red")
												| *
										input(class="" type="text" placeholder="Область, город, улица, дом, квартира")
									div(class="pb-4")
										span(class="step__body__header step__body__header_g pb-4")
											| Коментарий к заказу
										textarea()
									div(class="d-flex justify-content-between py-5")
										a(class="btn btn__back" href="#step_1")
											| Назад
										a(class="btn" href="#step_2")
											| Продолжить
						div(class="step__item step__item_undefined" id="step_2")
							div(class="step__header")
								div(class="step__number")
									| 3
								span(class="step__text__header")
									| Доставка
							div(class="step__body ")
								div(class="step__body_f d-flex justify-content-between")
									div(class="step__body__first")
										div(class="d-flex justify-content-between w-100")
											div(class="")
												label(class="dos__item" data-header="header" data-description="description")
													input(type="radio"  name="dos" checked class="dos_ch")
													div(class="dos__item__header")
														div(class="dos__item__header_to")
															img(class="lazyload" data-src="images/premium.png" alt="img")
															span(class="dos__item__dot")
												span( class="dos__header")
													| В пределах МКАД
												span(class="dos__des")
													| <b>500</b> ₽
											div(class="")
												label(class="dos__item")
													input(type="radio"  name="dos"  class="dos_ch")
													div(class="dos__item__header")
														div(class="dos__item__header_to")
															img(class="lazyload" data-src="images/delivery.png" alt="img")
															span(class="dos__item__dot")
												span( class="dos__header")
													| За МКАД до 50 км
												span(class="dos__des")
													| <b>1500</b> ₽
										div(class="d-flex justify-content-between pt-5 w-100")
											div(class="")
												label(class="dos__item")
													input(type="radio"  name="dos"  class="dos_ch")
													div(class="dos__item__header")
														div(class="dos__item__header_to")
															img(class="lazyload" data-src="images/box.png" alt="img")
															span(class="dos__item__dot")
												span( class="dos__header")
													| По России
												span(class="dos__des")
													| Рассчитывается индивидуально
											div(class="")
												label(class="dos__item")
													input(type="radio"  name="dos"  class="dos_ch")
													div(class="dos__item__header")
														div(class="dos__item__header_to")
															img(class="lazyload" data-src="images/trolley.png" alt="img")
															span(class="dos__item__dot")
												span( class="dos__header")
													| Самовывоз
												span(class="dos__des")
													| <b>0</b> ₽
									div(class="step__body__second")
										div(class="step__body__second__item")
											img(class="lazyload" data-src="" alt="img")
										span(class="step__body__second__header")
											| Доставка курьером в пределах МКАД
										p()
											| Доставка осуществляется в течение дня в удобное для вас время.
										span(class="step__body__second__price")
											| Стоимость: <b>500</b> ₽
								div(class="d-flex justify-content-between py-5")
									a(class="btn btn__back" href="#step_2")
										| Назад
									a(class="btn" href="#step_3")
										| Продолжить
						div(class="step__item step__item_undefined" id="step_3")
							div(class="step__header")
								div(class="step__number")
									| 4
								span(class="step__text__header")
									| Оплата
							div(class="step__body ")
								div(class="step__body_f d-flex justify-content-between")
									div(class="step__body__first")
										div(class="d-flex justify-content-between w-100")
											div(class="")
												label(class="dos__item")
													input(type="radio"  name="oplata" checked class="dos_ch")
													div(class="dos__item__header")
														div(class="dos__item__header_to")
															img(class="lazyload" data-src="images/payment.png" alt="img")
															span(class="dos__item__dot")
												span( class="dos__header")
													| Наличными
											div(class="")
												label(class="dos__item")
													input(type="radio"  name="oplata"  class="dos_ch")
													div(class="dos__item__header")
														div(class="dos__item__header_to")
															img(class="lazyload" data-src="images/online-payment.png" alt="img")
															span(class="dos__item__dot")
												span( class="dos__header")
													| Оплата онлайн
										div(class="d-flex justify-content-between w-100")
											div(class="")
												label(class="dos__item")
													input(type="radio"  name="oplata" checked class="dos_ch")
													div(class="dos__item__header")
														div(class="dos__item__header_to")
															img(class="lazyload" data-src="images/withdraw.png" alt="img")
															span(class="dos__item__dot")
												span( class="dos__header")
													| Безналичный рассчет
									div(class="step__body__second")
										div(class="step__body__second__item")
											img(class="lazyload" data-src="" alt="img")
										span(class="step__body__second__header")
											| Доставка курьером в пределах МКАД
										p()
											| Доставка осуществляется в течение дня в удобное для вас время.
										span(class="step__body__second__price")
											| Стоимость: <b>500</b> ₽
								div(class="d-flex justify-content-between py-5")
									a(class="btn btn__back" href="#step_2")
										| Назад
									button(class="btn" type="sybmit")
										| Завершить
				div(class="col-lg-3 offset-lg-1 step_f")
					div(class="filan__order ")
						span(class="filan__order__step filan__order__border filan__order__header d-flex align-items-end justify-content-between")
							span
								| Ваш заказ
							span(class="filan__order__re")
								| Изменить
						span(class="filan__order__step filan__order__border filan__order__header")
							span(class=" d-flex align-items-end justify-content-between")
								span(class="ar" data-toggle="collapse" href="#collapsePrice" role="button" aria-expanded="false" aria-controls="collapsePrice")
									| Товары
								span(class="filan__order__price")
									| 96 880 ₽
							span(class="collapse" id="collapsePrice")
								span(class="card card-body")
									span(class="filan__order__step  filan__order__header d-flex align-items-end justify-content-between")
										span
											| Антекс премиум, 24 кг, 2 шт  
										span(class="filan__order__price")
											| <b>24 220</b> ₽
									span(class="filan__order__step  filan__order__header d-flex align-items-end justify-content-between")
										span
											| Антекс титан, 12 л, 2 шт  
										span(class="filan__order__price")
											| <b>12 468</b> ₽
									span(class="filan__order__step  filan__order__header d-flex align-items-end justify-content-between")
										span
											| Антекс лайт, 50 кг, 2 шт  
										span(class="filan__order__price")
											| <b>24 220</b> ₽
									span(class="filan__order__step  filan__order__header d-flex align-items-end justify-content-between")
										span
											| Масловоск люкс, 12 л, 1 шт  
										span(class="filan__order__price")
											| <b>4 862</b> ₽
						span(class="filan__order__step filan__order__border filan__order__header d-flex align-items-end justify-content-between")
							span
								| Доставка
							span(class="filan__order__price")
								| <b>2 000</b> ₽
						span(class="filan__order__step  filan__order__header d-flex align-items-end justify-content-between")
							span
								| Итого
							span(class="filan__order__price filan__order__price_f")
								| <b>98 880</b> ₽
	div(class="about about__fix")
		div(class="container")
			div(class="row")
				div(class="col-12")
					ul(class="nav nav-pills mb-3" id="pills-tab" role="tablist")
						li(class="nav-item")
							a(class="nav-link active" id="pills-recommended-tab" data-toggle="pill" href="#pills-recommended" role="tab" aria-controls="pills-recommended" aria-selected="true")
								| Популярное
						li(class="nav-item")
							a(class="nav-link a " id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab" aria-controls="pills-new" aria-selected="true")
								| Товары по акции
					div(class="tab-content" id="pills-tabContent")
						div(class="tab-pane fade show active" id="pills-recommended" role="tabpanel" aria-labelledby="pills-recommended-tab")
							div()
								div(id="products__slider")
									- for (var x = 0; x < 6; x++)
										div(class="d-flex justify-content-center")
											div(class="products__item products__item_hover d-flex flex-column align-items-center")
												div(class="products__header")
													a(class="favorites" href="#")
														img(class="" src="images/heart.png" alt="headrt img")
													a(class="compare" href="#")
														img(class="" src="images/top.png" alt="top img")
												a(href="#")
													img(class="" src="images/products_1.png" alt="img")
													span(class="products__name")
														| Антекс Премиум
													span(class="products__type")
														| Огнебиозащитный антисептик
												form(action="script.php" method="post" class="w-100")
													div(class="products__form w-100 d-flex justify-content-around align-items-center ")
														p
															| Тара
														div(class="custom__select m-2")
															select()
																option(value="0")
																	|    12 л
																option(value="1")
																	|    1
																option(value="2")
																	|    2
														div(class="d-flex justify-content-left form__numbers")
															button(class="number__minus")
																| -
															span(class="form__numbers_val")
																| 0
															input(type="number" class="mx-2" value="0" min="0" readonly hidden)
															button(class="number__plus")
																| +
												div(class="products__links")
													a(href="#" class="count d-flex flex-row mb-3")
														img(src="images/count.png" alt="img" class="pr-2")
														| Рассчитать количество
													a(href="#" class="eye d-flex flex-row")
														img(src="images/eye.png" alt="img" class="pr-2")
														| Быстрый просмотр
												div(class="products__price d-flex flex-column align-items-center")
													span(class="products__price_old")
														| 12 990 ₽
													span(class="products__price_now")
														| 12 110 ₽
												button(type="submit" class="btn mt-5 mb-4")
													| В корзину
												a(class="w-100 flex-row justify-content-center align-items-center one-click" href="#")
													img(class=" pr-2" src="images/mouse.png" alt="img")
													| Купить в 1 клик
								a(href="#" class="products__link_more d-none d-lg-flex align-items-center")
									| Вернуться в каталог
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
						div(class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab")


