extends base.pug
block content
	div()
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								| Где купить
	div(class="wheretobuy")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1
						| Где купить
			div(class="row ")
				div(class="col-12 ")
					div(class="city city_header")
						span(class="city__description")
							| Ваш город:
						div(class="city__check d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#modalCity" data-whatever="@Форма-хуиформа")
							span(class="city__checked")
								| Москва
							span(class="city__arrow")
			div(class="row d-flex recommendations")
				div(class="col-lg-4 d-flex flex-column justify-content-center")
					div(class="accordion" id="accordionExample")
						div(class="card active")
							div(class="card-header " id="headingOne")
								h3(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
									| Москва,  главный офис
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
								div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample")
									div(class="card-body")
										div()
											div(class="phone phone_header phone_two_header")
												img(class="lazyload" data-src="images/phone.png" alt="img phone")
												div
													a(href="tel:+7 (495) 741-8853")
														| +7 (495) 741-8853
													a(href="tel:+7 (926) 703-6127")
														| +7 (926) 703-6127
											div(class="email email_header")
												a(href="mailto:anta-msk@narod.ru")
													img(class="lazyload" data-src="images/mail.png" alt="clock")
													span(class="email__content")
														| anta-msk@narod.ru
											div(class="city__adr")
												svg(class="city__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.757 54.757" style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve")
													g
														path(d="M27.557,12c-3.859,0-7,3.141-7,7s3.141,7,7,7s7-3.141,7-7S31.416,12,27.557,12z M27.557,24c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5S30.314,24,27.557,24z")
														path(d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M41.099,31.431L27.38,51.243L13.639,31.4C8.44,24.468,9.185,13.08,15.235,7.031C18.479,3.787,22.792,2,27.38,2s8.901,1.787,12.146,5.031C45.576,13.08,46.321,24.468,41.099,31.431z")
												span()
													| ул. Нагатинская дом 3А
											span(class="schedule__date d-block")
												img(class="lazyload" data-src="images/clock.png" alt="clock")
												span(class="schedule__content")
													| 6.30 - 24.00 без выходных
						div(class="card")
							div(class="card-header " id="headingTwo")
								h3(class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
									| Москва,  м. Водный стадион
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
							div(id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample")
								div(class="card-body")
									| fogsfgh
						div(class="card")
							div(class="card-header " id="headingthree")
								h3(class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
									| г. Зеленоград
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
							div(id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample")
								div(class="card-body")
									| fogsfgh
						div(class="card")
							div(class="card-header" id="headingFour")
								h3(class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
									| Москва,  м. Таганская
									<div class="sldier_arrow_next"><svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18.098 10.316"><g id="arrow-up" transform="translate(-1035.793 -4349.188)"><g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303"><path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/></g></g></svg></div>
							div(id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample")
								div(class="card-body")
									| fogsfgh
				div(class="col-lg-8 d-none d-lg-flex")
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6362.664279667593!2d37.62751545363603!3d55.67957230680046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab35688ae14e7%3A0xc659dceb8a95c915!2z0J3QsNCz0LDRgtC40L3RgdC60LDRjyDRg9C7LiwgM9CQLCDQnNC-0YHQutCy0LAsIDExNzEwNQ!5e0!3m2!1sru!2sru!4v1571397080586!5m2!1sru!2sru" width="100%" height="415" frameborder="0" style="border:0;" allowfullscreen="")