/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "library/_animate.css";
@import "library/slick/slick.scss";
@import "library/slick/slick-theme.scss";

@import "reset/_reset";
@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";



.card_item_arrow {
  fill: #7f7f7f;
}

.hot-block {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  max-width: 263px;
}


.favorites {
  padding: 0 21px;
}

.welcome {
  background: url("../images/welcome.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 530px;

  position: relative;
  @media (max-width: 991px) {
    background: url('../images/welcome_mob.jpg') no-repeat;
    height: 290px;
  }
  p {
    line-height: 24px;
  }
  .welcome__color {
    position: absolute;
    bottom: -14%;
    right: 14%;
    @media (max-width: 1300px) {
      display: none;
    }
  }
}
.calc_wrap {
  max-width: 320px;
  width: 100%;
  padding-left: 15px;
}
.calc {
  background-color: rgba(51, 170, 108, 0.8);
  height: 100%;
  padding: 40px 13px 0 13px;
  border-radius: 5px;
  @media (max-width: 991px) {
    border-radius: 0px;
  }
  .calc__header {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
  }
  input {
    padding: 9px;
    color: #aeaeae;
    width: 110px;
    font-size: 1.5rem;
  }
  .calc__price__header {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    padding: 35px 0 20px 12px;
    display: block;
  }
  .calc__price {
    input[type=text] {
      border: 1px solid #b7b7b7;
    }
  }
}








.products {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 991px) {
    padding: 50px 0 0 0;
  }
  .nav-pills {
    border-bottom: 1px solid #e5e5e5;
    .nav-link {
      font-size: 1.8rem;
      color: #383838;
      padding: 20px 25px;
      border-bottom: 3px solid transparent;
      border-radius: 0px;
      transition: all 0.5s;
      &.active {
        font-weight: bold;
        background: unset;
        border-bottom: 3px solid $mainTextColor;
        transition: all 0.5s;
      }
    }
    .nav-item {
      &:nth-child(1) {
       .nav-link {
         padding-left: 0px;
       }
      }
    }
  }
  .products__link_more {
    margin-top: -14px;
    display: flex;
  }
}
#products__slider {
  overflow: visible;
  .slick-list {
    overflow: unset;
    position: relative;
    &:before {
      
      content: "";
      position: absolute;
      display: block;
      background: #fff;
      top: 0px;
      bottom: 0px;
      right: -200%;
      left: 100.3%;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      background: #fff;
      top: 0px;
      bottom: 0px;
      right: 100%;
      left: -200%;
      z-index: 2;
    }
  }
}

.products__item {
  background-color: #fff;
  max-width: 264px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
	padding: 10px;
  padding-top: 30px;
	padding-bottom: 40px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  .form__numbers {
    /*\

    width: 70px;
    height: 20px;
    padding: 3px 9px;
    */
  }
  .products__header__hover {
    transition: all 0.5s;
      position: absolute;
    top: 18px;
    right: 9px;
    left: 9px;
    display: flex;
    justify-content: flex-end;
    div {
      border: 2px solid #a0ddbd;
      background-color: #33b773;
      width: 55px;
      height: 55px;
      border-radius: 50%;

      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .products__freeeee {
    display: block;
    color: #33b873;
    padding-top: 20px;
    font-size: 1.5rem;
  }

    .products__header {
    position: absolute;
    top: -100%; right: 18px; left: 18px;
    display: flex;
    justify-content: space-between;
    .favorites {
      padding: 0px;
    }
  }
  .one-click {
    display: none;
    &:hover {
      color: #383838;
    }
  }
  
  &.products__item_hover {
    background-color: #fff;
    &:hover {
        margin-bottom: -70%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 10;
        .products__header__hover {
          top: -100%;
          transition: all 0.5s;
        }
      .products__header {
          top: 18px;
      }
      .products__links {
        display: flex;
        .count {

        }
      }
      .btn {
        display: block;
      }
      .one-click {
        display: flex;
      }
      .products__freeeee {
        display: none;
      }
    }
    @media (max-width: 991px) {
      .products__price  {
        width: 100%;
      }
      .products__links {
        display: flex;
        padding-bottom: 20px;
        .count {
          
        }
        .eye {
          display: none!important;
        }
      }
      .btn {
          display: block;
          width: 80%;
        }
      .products__freeeee {
        display: none;
      }
      .one-click {
        display: flex;
      }
      &:hover {
          margin-bottom: 0%;
          box-shadow: unset;
          z-index: 1;
          .products__header__hover {
            transition: all 0.5s;
          }
        .products__header {
            top: 18px;
        }
        
      }
    }
  }
	.btn {
		display: none;
	}
	.products__links {
		padding-bottom: 40px;
		align-items: center;
		flex-direction: column;
		display: none;
	}
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    .products__name {
      color: #383838;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 14px;
    }
    .products__type {
      font-size: 1.5rem;
      color: #383838;
      text-align: center;
    }
  }
	.btn {
		width: 100%;
	}
}

.products__slider {
  position: relative;
  .slick-dots {

  }

}
.slick-arrow {
  background: #fff;
  width: 61px; height: 61px;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: calc(50% - 30px);
  z-index: 10;
  cursor: pointer;
  &.sldier_arrow_prev {
    transform: rotate(90deg);
    left: -76px;
  }
  &.sldier_arrow_next {
    transform: rotate(-90deg);
    right: -76px;
  }
}

svg {
  &.card_item_arrow {
    width: 30px;
  }
}

.slick-slider {
  &:hover {
    .slick-dots {
      z-index: -1;
    }
  }
}
.slick-dots {
  z-index: 15;
	display: flex;
	justify-content: flex-end;
  li {
    width: 33px;
    height: 7px;
    background: #cccccc;
    border-radius: 8px;
    transition: all 0.5s;
    &.slick-active {
      background: $mainTextColor;
      transition: all 0.5s;
    }
    button {
      width: 100%;
      &:before {
        content: "";
      }
    }
  }

  @media (max-width: 991px) {
    justify-content: center;
  }
}

.tab-content {
  min-height: 200px;
}

/*  -    - --   custom input - - -- - - -- - - */
.custom__select {
  width: 70px;
  height: 20px;
  position: relative;
  font-size: 1.5rem;

  border: 1px solid #e5e5e5;
  border-radius: 4px;

  padding: 3px 9px;
  margin: 0px!important;
  @media (max-width: 991px) {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 19px;
    padding-right: 19px;
    .select-selected {
      width: 100%;
    }
  }
}

.custom__select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
  text-transform: uppercase;
  position: relative;

  display: flex;
  justify-content: space-between;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  display: block;
  top: calc(50%);
  transform: translateY(-50%);
  right: 0px;
  width: 10px;
  height: 10px;
  transition: all .5s;
  background: url("../images/down-arrow.svg") no-repeat;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%) rotate(180deg);
    transition: all .5s;
    width: 10px;
    height: 10px;
    background: url("../images/down-arrow.svg") no-repeat;
  }
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items div {
  color: #808080!important;
}
/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;


}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.text__underline {
  line-height: 90%;
  text-align: left;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.form__numbers {
  width: 70px; height: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 3px 9px;
  margin: 0px!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 991px) {
    width: 110px;
    height: 40px;
    padding-left: 19px;
    padding-right: 19px;
    .select-selected {
      width: 100%;
    }
  }
}
.number__minus, .number__plus {
  font-size: 1.5rem;
  padding: 0px;
  background: none;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: none;
  }
}

.count {
  color: #e5e5e5;
  font-size: 1.5rem;

  &:hover {
    color: #e5e5e5;
  }
}

.eye {
	font-size: 1.5rem;
	color: $mainTextColor;
	&:hover {
		color: $mainTextColor;
	}
}

.products__form {
	padding: 40px 0;
	p {
		font-size: 1.5rem;
		color: #383838;
    padding-bottom: 0px;
    @media (max-width: 991px) {
      display: none;
    }
	}
}



.products__price_old {
	font-size: 1.3rem;
	color: #888888;
	text-decoration: line-through;
}
.products__price_now {
	font-size: 2.4rem;
	color: #383838;
	font-weight: bold;
	padding-top: 10px;
}
.one-click {
	color: #383838;
	font-size: 1.5rem;
}
.products__link_more {
  display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
	color: #383838;
  width: 50%;
  @media (max-width: 991px) {
    width: unset;
  }
	&:hover {
		color: #383838;
	}
}

















.advantages {
	padding: 100px 0;
	background-color: #fcfcfc;
  h2 {
    padding-bottom: 70px;
  }
  .advantages__item {
    p {
      padding-top: 20px;
      color: #383838;
      line-height: 120%;
    }
  }
}




.choose {
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 50px 0 0 0;
    background-color: #f9f9f9;
  }
  .more {
    color: #383838;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-top: -20px;
    max-width: 250px;
    .sldier_arrow_next {
      padding-left: 10px;
      svg {
        fill: #383838;
        width: 10px;
        transform: rotate(-90deg);

      }
    }
  }
  .count {
    color: #383838;
  }
  p {
    padding-bottom: 20px;
    font-size: 1.5rem;
    color: #383838;
  }
  h2 {
    padding-bottom: 70px;
    @media (max-width: 991px) {
      padding-bottom: 30px;
      line-height: 140%;
    }
  }
  .tab-content {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0 4px 4px 4px
  }
  #pills-tabq {
    .nav-pills {
      display: flex;
      align-items: flex-end;
    }
    .nav-item {
      display: flex;
      align-items: flex-end;
    }
    .nav-link {

      font-size: 1.8rem;
      padding: 16px 20px;
      color: #484848;
      background-color: #f3f3f3;
      border-radius: 0px 4px 0 0;
      transition: all 0.5s;
      &.active {
        padding: 25px 20px 16px 20px;
        font-weight: bold;
        color: $mainTextColor;
        font-size: 2.1rem;
        background-color: #fcfcfc;
        border-radius: 4px 4px 0 0;
        transition: all 0.5s;
      }

    }
  }
  #pills-tabContentq {
    padding: 20px;
    background-color: #fcfcfc;
  }
  .choose__two__nav {
    border-bottom: 1px solid #e2e2e2;
    .choose__two__header {
      font-size: 1.8rem;
      color: #777777;
      padding: 18px 0;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      &:hover {
        color: $mainTextColor;
      }
      &.active {
        font-weight: bold;
        border-bottom: 3px solid $mainTextColor;
        &:hover {
          color: #777;
        }
      }
    }
    .sldier_arrow_next {
      cursor: pointer;
      svg {
        width: 20px;

      }
      &:hover {
        svg {
          fill: $mainTextColor;
        }
      }
      &:nth-child(1) {
        svg {
          transform: rotate(90deg);
        }
      }
      &:nth-child(2) {
        svg {
          transform: rotate(-90deg);
        }
      }

    }
  }
  .products__item {
    width: 100%;
    max-width: 460px;
    .products__header {
      top: 18px;
    }
    .products__name, .products__type {
      width: 100%;
      text-align: left;
      padding-left: 0px;
    }
    .products__links {
      display: flex;
    }
    .products__form {
      padding: 30px 0 ;
      p {
        padding: 0;
      }
    }
    .btn {
      display: block;
      max-width: 140px;
    }
  }
  .slick-list {
    overflow: hidden!important;
  }
  .sldier_arrow_prev {
    z-index: 2;
    left: -30px!important;
  }
  .sldier_arrow_next {
    right: 10px!important;
  }
}








.recommendations {
	padding: 110px 0;
  background-color: #fcfcfc;
	h2 {
		padding-bottom: 60px;
	}
  .card {
    border: none;
    .card-header {
      background-color: #fbfbfb;
      border: none;
      padding: 0px;
      z-index: 10;
      &.card-header__gre {
        background-color: #efefef;
      }

    }
    .card-body {
      background-color: #fcfcfc;
      ul {
        padding: 10px 0px;
      }
      li {
        padding: 12px 0px;
        font-size: 1.5rem;
        color: #383838;
        line-height: 140%;
        list-style: none;
        span {
          &.color_1 {
            color: $mainTextColor;
          }
          &.color_2 {
            color: #858585;
          }
        }
      }
    }
    h3 {
      font-size: 1.5rem;
      color: #383838;
      font-weight: normal;
      cursor: pointer;
      padding: 19px 16px;
      display: flex;
      justify-content: space-between;
      transition: all 0.5s;
      z-index: 10;
      box-shadow: 0 4px 30px rgba(0,0,0,0.05);
      &:hover {
        color: $mainTextColor;
        transition: all 0.5s;
        svg {
          fill: $mainTextColor;
        }
      }
      svg {
        fill: #383838;
        width: 10px;
        transform: rotate(180deg);
        transition: all 0.5s;
      }
      &.collapsed {
        box-shadow: unset;
        svg {
          transform: rotate(-90deg);
          transition: all 0.5s;
        }
      }
    }

  }
  .recommendations_right {
    ul {
      padding: 0 0 35px 0;
      li {
        color: #383838;
        list-style: none;
        font-size: 1.5rem;
        line-height: 140%;
      }
    }
    p {
      font-size: 1.5rem;
      color: #383838;
    }
    .recommendations_right_header {
      line-height: 130%;
      font-size: 1.8rem;
      font-weight: bold;
      color: #383838;
      padding-bottom: 35px;
      display: block;
    }
  }
  .products__link_more {
    svg {
      margin-left: 10px;
      width: 12px;
      transform: rotate(-90deg);
    }
  }
  .recommendations_more {
    padding-top: 65px;
    .recommendations_right_header {
      padding-bottom: 16px;
    }
    .btn {
      max-width: 195px;
    }
  }
}















#pills-tabContentgaly {
    .products__link_more {
      position: absolute;
      bottom: 0px; left: 0px;
      padding: 0 60px;
    }
    }
  .posi_rel {
    position: relative;
  }


.interesting {
  padding: 110px 0;
  @media (max-width: 991px) {
    padding: 50px 0;
  }
  .nav-pills {
    margin-bottom: 4rem!important;
  }
  h2 {
    padding-bottom: 50px;
  }
	.nav-pills {
		border-bottom: 1px solid #e5e5e5;
    @media (max-width: 991px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
		.nav-item {
			padding-left: 50px;
			&:nth-child(1) {
				padding: 0px;
			}
      @media (max-width: 991px) {
        padding-left: 0px;
      }
		}
		.nav-link {
			padding: 13px 0;
			font-size: 1.8rem;
			color: #383838;
			position: relative;
			transition: all 0.5s;
			&.active {
				background: none;
				font-weight: bold;
				transition: all 0.5s;
				&:before {
					position: absolute;
					bottom: 0px; left: 0px; right: 0px;
					content: "";
					height: 3px;
					background-color: $mainTextColor;
				}
			}
		}
	}
  .sldier_arrow_next {
    transform: rotate(-90deg);
    fill: #383838;
    svg {
      width: 14px;
    }
    .card_item_arrow {
      fill: #383838;
    }
  }
}
#video__slider {
  padding-bottom: 20px;
}
#video__slider_dots {
  padding: 0 50px;
  margin: 0px;
  position: relative;
  .slick-arrow {
    z-index: 20;
  }
  .slick-list {
    padding: 0!important;
  }
  .slick-slide {
    img {
      padding: 0 10px;
      width: 100%;
      max-width: 100%;
    }
  }
  .sldier_arrow_next {
    right: 15px;
  }
  .sldier_arrow_prev {
     left: 15px;
   }
  .slick-dots {
    position: unset;
    padding-top: 20px;
  }
}
.interesting_2 {
  .nav-pills {
    width: 100%;
  }
  .nav-item {
    &:nth-child(2) {
      padding-left: 10px;
    }
  }
  .feedback__link_all {
    margin-top: 20px;
  }
  .sldier_arrow_next {
    transform: rotate(-90deg);
    svg {
      width: 14px;
    }
  }
}

.feedback__item {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
  &:first-child {
    padding-top: 0px;
  }
  &:nth-child(3){
    border: none;
    padding-bottom: 0px;
  }
  .feedback__header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
  }
  .feedback__date {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #999999;
  }
  .feedback__description {
    font-size: 1.5rem;
    color: #000;
    padding-top: 22px;
    line-height: 120%;
  }
  .feedback__link {
    padding-top: 8px;
    font-size: 1.5rem;
    font-weight: normal;
    display: flex;
    align-items: flex-end;

    .feedback__link__line {
      display: block;
        font-size: 2rem;
      margin-bottom: -2px;
    }
  }
}









.ask {
  padding: 90px 0 160px 0;
  background-color: #fcfcfc;
  .ask__head {
    font-size: 1.8rem;
    color: #383838;
    padding-bottom: 15px;
    font-weight: bold;
    display: block;
    @media (max-width: 991px) {
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 150%;
    }
  }
  h2 {
    padding: 0 0 60px 0;
    @media (max-width: 991px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .ask__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 0;
    img {
      padding-top: 3px;
    }
    p {
      color: #383838;
      line-height: 140%;
      font-size: 1.5rem;
    }
  }
  @media (max-width: 991px) {
    padding: 50px 0 80px 0;
  
    .form {
      .btn[type=submit] {
        width: 100%;
      } 
    }
  }


}


.welcome__mobile {
  .calc {
    width: 100%;
    max-width: unset;
    background: #4ac987;
    position: relative;
    padding: 30px 28px 31px 28px;
    .calc__price__header {
      padding: 0px;
      padding-bottom: 15px;
      .nav-tabs {
        display: flex;
        justify-content: space-between;
        border: none;
      }
      .nav-item {
        .nav-link {
          width: 119px;
          color: #fff;
          padding: 17px 14px;
          font-size: 1.5rem;
          background: transparent;
          border: 1px solid #fff;
          border-radius: 5px;
          font-weight: normal;
        }
      }
    }
    input {
      border-radius: 5px;
    }
  }
  .calc__form__header {
    position: absolute;
    top: -62px;
    left: 0px; right: 0px;
    width: 100%;
    padding: 22px 28px;
    background-color: rgba(51,170,108,.8);
    .custom__select {
      font-weight: bold;
      width: 100%;
      height: unset;
      font-size: 1.8rem;
      border: none;
      padding: 0px;
      color: #fff;
    }
    .text__underline {
      line-height: unset;
      font-size: 1.8rem;
      text-transform: none;
    }
    svg {
        &.svg__w {
          fill: #fff;
        }
      } 
    .select-items {
      div {
        color: #fff!important;
        font-size: 1.8rem;
        background: none;
      }
    }
    .select-selected {
      &:after {
        width: 15px; height: 15px;
        background: url("../images/down-arrow_white.svg") no-repeat;
      }
    }
  }

}


.products__mobile {
  padding-top: 30px;
  .slick-dots {
    justify-content: center;
  }
  .products__item {
    .products__header {
      top: 24px;
    }
    .btn, .products__links {
      display: block!important;
    }
    .products__links {
      .count {
        justify-content: center;
      }
    }
    .btn {
      margin-bottom: 18px;
    }
  }
  .products__form  {
    padding: 15px 0px;
  }
  .products__links {
    padding: 0px;
  }
  .products__price  {
    padding: 25px 0; 
  }
}



.choose__mobile {
  padding: 0 0 50px 0;
  background-color: #f9f9f9;
  .products__item  {
    background-color: #fff;
  }
  .nav-pills {
    display: flex;
    flex-direction: column;
    width: 100%;
    .nav-link {
      font-size: 1.8rem;
      color: #737373;
      border: 1px solid #737373;
      border-radius: 5px;
      padding: 16px 0;
      width: 100%;
      text-align: center;
      &.active {
        border: 1px solid $mainTextColor;
        color: $mainTextColor;
        background: none;
      }
      &:last-child {
        margin-top: 10px;
      }
    }
  }
  .choose__two__nav {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-right: -15px;
      margin-left: -15px;
    .nav-item {
      width: 100%;
    }
    .nav-link {
      width: 100%;
      font-size: 1.5rem;
      padding: 15px;
      border-bottom: 1px solid #e5e5e5;
      text-align: left;
      color: #383838;
      &.active {
        background: $mainTextColor;
        color: #fff;
      }
    }
  }
  .tab-content {
    p {
      padding-bottom: 20px;
      font-size: 1.5rem;
      color: #383838;
    }
    .choose__mobile__header {
      font-size: 1.5rem;
      color: #383838;
      font-weight: bold;
      padding: 21px 0px;
      display: flex;
    }
  }
  .more {
        color: #383838;
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 30px;
      .sldier_arrow_next {
      padding-left: 10px;
      svg {
        fill: #383838;
        width: 10px;
        transform: rotate(-90deg);

      }
    }
  }
  .products__link_more {
    padding: 30px 0 0 0;
  }
}
#video__slider {
  .slick-dots {
    justify-content: center;
  }
  @media (max-width: 991px) {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (max-width: 991px) {
    #pills-tabContentgaly {
      .products__link_more {
        &.feedback__link_all {
          position: unset;
          padding: 0;
          padding-top: 30px;
        }
      }
    }
  }


.breadcrumb {
  padding: 50px 0;
  background: none;
  margin: 0;
  .breadcrumb-item {
    color: #383838;
    font-weight: bold;
    font-size: 1.5rem;
    & + .breadcrumb-item {
      &::before {
        content: "→";
      }
    }
    a {
      color: #383838;
      cursor: pointer;
      font-weight: normal;
    }
  }
  @media (max-width: 991px) {
    padding: 30px 0;
    .breadcrumb-item {
      font-size: 1.3rem;
     }
  }
}


.catalog {
  padding-bottom: 200px;
  @media (max-width: 991px) {
    padding-bottom: 50px;
  }
  .products__link_more {
    display: block;
    
    svg {
      width: 12px;
      color: #383838;
      margin-left: 12px;
    }
  }
  h2 {
    padding: 120px 0 60px 0;
  }
  .gjf {
    display: block;
    font-size: 1.8rem;
    color: #383838;
    font-weight: bold;
    padding-bottom: 40px;
  }
  p {
    color: #383838;
    font-size: 1.5rem;
    line-height: 120%;
    padding-bottom: 36px;
  }
  h1 {
    color: #383838;
    padding-bottom: 60px;
    @media (max-width: 991px) {
      padding-bottom: 40px;
    }
  }
  #accordionTex {
    border: 1px solid #d5d5d5;
    background: #f9f9f9;
    border-radius: 5px;
    .card-header {
    padding: 0px;
    h2 {
      padding: 16px 15px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      color: #fff;
      background-color: $mainTextColor;
      font-size: 1.8rem;
      @media (max-width: 991px) {

      font-size: 1.3rem;
      }
      .sldier_arrow_next {
        svg {
          transform: rotate(180deg);
          width: 14px;
          color: #383838;
          transition: all 0.5s;
        }
      }
      background-color: #f9f9f9;
      color: #383838;
      svg {
        fill: #383838;
      }
      &.collapsed {
        color: #383838;
        background: #f9f9f9;
        svg {
          fill: #383838;
          transition: all 0.5s;
          transform: rotate(0deg);
        }
      }
    }
  }
  .card {
    border: none;
    background: none;
  }
  }
  .form {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 29px 0px;
    background: #f9f9f9;
    .filter__header {
      padding-left: 19px;
      padding-right: 19px;
      padding-bottom: 12px;
      display: block;
      font-size: 1.8rem;
      color: #383838;
      font-weight: bold;
    }
    .btn {
      background: none;
      border: 1px solid $mainTextColor;
      color: $mainTextColor;
      margin: 10px 19px 0 19px;
    }
  }
  .filter__container {
    @media (max-width: 991px) {
      position: fixed;
      left: 0px; right: 0px;
      display: none;
      z-index: 101;
      border: none;
      border-radius: unset;
    }
    .filter__header__close {
      display: none;
      @media (max-width: 991px) {
        display: block;
      }
      span {
        display: block;
        transform: rotate(45deg);
        color: #383838;
        opacity: 0.5;
        font-size: 2.5rem;
      }
    }
  }

}

#accordionTex {
  margin: 60px 0;
}

#accordionFilter1 {
   .card-header {
    border: none;
    padding: 0px;
    background: none;
    h2 {
      font-size: 1.3rem;
      padding: 16px 19px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      color: #fff;
      background-color: $mainTextColor;
      .sldier_arrow_next {
        svg {
          fill: #fff;
          transform: rotate(180deg);
          width: 14px;
          color: #383838;
          transition: all 0.5s;
        }
      }
      &.collapsed {
        color: #383838;
        background: none;
        svg {
          fill: #383838;
          transition: all 0.5s;
          transform: rotate(0deg);
        }
      }
      &:hover {
        background-color: #e0e0e0;
        cursor: pointer;
      }
    }
  }
  .card {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background: none;
    &:last-child {
      border: none;
    }
  }
}


.callback {
  background-color: #f9f9f9;
  padding: 44px 16px;
  margin-bottom: 30px;
  span {
    color: #383838;
    font-size: 1.7rem;
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
    padding: 24px 0 38px 0;
    color: #383838;
  }
}


.catalog__filter_row {
  background-color: #f8f8f8;
  padding: 18px 15px;

  display: flex;
  justify-content: space-between;
  .catalog__filter_row__header {
    font-size: 1.5rem;
    color: #383838;
    font-weight: bold;
    
    display: block;
  }

.catalog__filter_row__item {
    font-size: 1.5rem;
    color: #383838;
    padding: 0 25px;
    font-weight: bold;
    position: relative;
    &:before {
      position: absolute;
      display: block;
      content: "";
      right: 0px; top: 0px;
      background-color: #dfdfdf;
      width: 1px;
      height: 130%;
      transform: translateX(-50%);
    }
    
    &.active {
      color: #33b873;
    }
    &.catalog__filter_row__item_plus {
      color: $mainTextColor;
      &:before{
        display: none;
      }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 1.3rem;
      padding: 0 5px;
    }
  }
  .catalog__filter_row__header {
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 1.3rem!important;
    }
  }
  .custom__select__wr {
    span, .text__underline, .select-items div {
      @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 1.3rem!important;
    }
    }
  }

  .custom__select {
      border: none;
      width: 40px;
      height: unset;
      padding: 0px;
      padding-left: 9px;
      .text__underline {
        font-weight: bold;
      }
      .select-selected:after {
        position: absolute;
        content: "";
        display: block;
        top: calc(50%);
        transform: translateY(-50%);
        right: 0px;
        width: 10px;
        height: 10px;
        transition: all .5s;
        background: url("../images/dwo.png") no-repeat;
      } 
      .select-items {
        div {
          padding: 3px 0 3px 9px;
        }
      }
      .elect-arrow-active {
        &.select-selected:after {
          transform: rotate(180deg);
        } 
      }
    }
  .custom__select__wr {
    span {
      font-size: 1.5rem;
      color: #383838;
      font-weight: bold;
    }
  }
}

.catalog__filter_row_content {
  padding: 40px 0 0 0;
  .products__item_wrap {
    padding-bottom: 28px;
  }
}

.pagination {
  .page-item {
    .page-link {
      border: 1px solid #d5d5d5;
      color: #383838;
      padding: 8px 11px;
      font-size: 1.5rem;
      border-radius: 5px;
      font-weight: bold;
      svg {
        width: 12px;
        fill: #383838;
      }
    }
    &.page-item__left {
      margin-right: 2px;
      .page-link {
        border: none;
      }
      svg {
        transform: rotate(90deg);
      }
    }
    &.page-item__right {
      margin-left: 2px;
      .page-link {
        border: none;
      }
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}


.gjf__footer, .to_top_click {
  svg {
    transform: rotate(-90deg);
    width: 12px;
    fill: #383838;
  }
}
.to_top_click {
  svg {
    transform: rotate(180deg);
    width: 12px;
    fill: #383838;
  }
}










.youCheckedItems {
  margin-top: 60px;
  margin-bottom: 150px!important;
  .products__item__top {
    img {
      max-width: 100px;
    }
    .products__name {
      font-size: 1.5rem;
      padding: 0px;
      padding-bottom: 18px;
    }
    .products__type {
      font-size: 1.5rem;
      text-align: left;
      padding-bottom: 20px;
    }

  }
  .products__links {
      display: flex;
      padding: 19px 0 0 0;
  }
  .slick-list {
    padding: 10px 0;
  }
}



.checkbox__circle {
  padding-bottom: 25px;
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .checkbox__label {
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: 0 0;
    border: 1px solid #b9b9b9;
    border-radius: 50%;
    margin-right: 6px;
    position: relative;
  }
  .form__info {
    padding: 0px!important;
  }
  .checkbox:checked+.checkbox__label {
    background-color: #33b873;
    border-color: #33b873;
    &:before {
      background: url("../images/checked__white.svg");
    }
  }
}
.btn__filter {
  background: none;
  border: 1px solid $mainTextColor;
  width: 100%;
  color: $mainTextColor;
}

.catalog__footer {
  svg {
    fill: #383838;
  }
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column!important;
    .products__link_more {
      order: 2;
      width: 100%;
      justify-content: center;
    }
    .catalog__footer__pagination {
      order: 1;
      padding-bottom: 30px;
      width: 100%;
      .pagination {
        justify-content: space-between;
      }
    }
  }
}

.basket {
  h1 {
    color: #383838;
  }
  .basket__wrap {
    color: #383838;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .basket__items {
    background-color: #f8f8f8;
    padding: 23px 0;
    margin: 40px 0px;
  }
  .basket__header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #383838;

  }

  .basket__top {
    border: 1px solid #d5d5d5;
    padding: 18px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 170px;
      width: 100%;
    }
  }
  .basket__item {
    padding: 35px 0;
    @media (max-width: 991px) {
      padding: 10px 0;
    }
    
    .basket__item_q {
      border-bottom: 1px solid #e5e5e5;
    }
  }
  .besket__description {
    font-size: 1.5rem;
    font-weight: normal;
    color: #383838;
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 1.2rem;
    }
  }
  .basket__item__wrap {
    padding-top: 5%;
    .basket__header {
      padding-bottom: 20px;
    }
  }
  .basket__item__price {
    padding-top: 20px;
    span {
      transform: rotate(45deg);
    }
    font-size: 1.5rem;
    color: #868686;
    font-weight: normal;
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 1.2rem;
    }
  }
  .basket__item__close {
    cursor: pointer;
    span {
      transform: rotate(45deg);
      font-size: 2.5rem;
      color: #868686;
    }
  }
}






.btn_promo {
  margin-left: 30px;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  padding: 12px 7px;
  background-color: $mainTextColor;
  img {
    width: 29px;
    height: 21px;
  }
}

.basket__footer {
  padding-top: 50px;
  padding-bottom: 170px;
  .form {
    input {
      font-weight: bold;
    }
  }
  @media (max-width: 991px) {
    padding-bottom: 50px;
  }
}

.basket__price__first {
  font-size: 3rem;
  color: #383838;
  font-weight: bold;
  padding-bottom: 20px;
  @media (max-width: 991px) {
    padding-top: 50px;
  }
  .basket__price__first__g {
    font-weight: normal;
    @media (max-width: 991px) {
      font-weight: bold;
    }
  }
}
.basket__price__second {
  font-size: 1.5rem;
    color: #383838;
}
.basket__1,
.basket__2 {
  width: 50%;
  @media (max-width: 991px) {
    width: 100%;
  }
}
.basket__1 {
  display: flex;
  align-items: flex-end;
  padding-right: 20px;
  .btn {
    width: 100%;
    background: none;
    color: $mainTextColor;
    border: 1px solid $mainTextColor;
  }
}
.basket__2 {
  .btn {
    margin-top: 30px;
  }
}

.basket__item__mobile {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  width: 100%;
  padding: 9px;
  .basket__header {
    padding-bottom: 14px;
  }
  .besket__description {
    padding: 0px;
  }
  .basket__item__wrap {
    padding-top: 30px;
  }
  .basket__item__close  {
    padding: 0px!important;
  }
}
.basket__header_p {
  padding-right: 10px;
}

.basket__1 {
  @media (max-width: 991px) {
    order: 2;
    margin-top: 15px;
    padding: 0px;
  }
}
.basket__2 {
  @media (max-width: 991px) {
    order: 1;
  }
}
.basket__footer_gt {
  @media (max-width: 991px) {
    flex-direction: column;
  }
}


.interesting {
  &.interesting__gov {
    padding: 0 0 100px 0;
    @media (max-width: 991px) {
      padding-bottom: 30px;
    }
    .nav-pills {

      margin: 0px!important;

      @media (max-width: 991px) {
        justify-content: flex-start;
        .nav-item {
          padding-right: 20px;
          &:last-child {
            padding-right: 0px;
          }
        }
      }
    }
    .tab-content {
      padding-top: 4rem;
    }
    .nav-link {
      font-size: 3.6rem;
    }
    .sldier_arrow_next {
      transform: unset;
    }
    .sldier_arrow_next {
      margin-left: 10px;
    }
    .pagination {
      .sldier_arrow_next {
        margin-left: 0px;
      }
    }

    .custom__select {
      border: none;
      width: 50px;
      padding-bottom: 0px;
    }
    .custom__select__wr {
      span {
        font-size: 1.5rem;
      color: #383838;
      font-weight: bold;
      }
     }
     select {
      border: unset;
     }
    .select-selected {
     &:after {
       background: url(../images/dwo.png) no-repeat;
     }

    }
  }
}

.page-link__more {
  border: none!important;
  margin-left: 1px;
  &:hover {
    background-color: unset!important;
  }
}


.interesting__gov__item {
  @media (max-width: 991px) {
    padding: 0px!important;
     .interesting__gov__item__header, .interesting__gov__item__more {
      padding-right: 15px;
      padding-left: 15px;
     }
  }
}

.interesting__gov__item__header {
  font-size: 1.5rem;
  color: #383838;
  display: block;
  padding: 20px 0;
  width: 100%;
}
.interesting__gov__item__more {
  width: 100%;
  margin-bottom: 40px;
  display: block;
  a {
    padding: 0px!important;
    display: flex;
    position: unset!important;
  }
  svg {
    transform: rotate(-90deg);
  }
  .products__link_more {
    width: unset!important;
  }
}













.about {
  h1 {
    padding-bottom: 60px;
    color: #383838;
  }
  .nav-pills{
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
  }
  .nav-link {
    padding: 0 0 23px 0;
    background: none;
    color: #797979;
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: -2px;
    border-bottom: 3px solid transparent;
    border-radius: 0px;
    &.active {
      border: none;
      background: none;
      font-weight: bold;
      border-bottom: 3px solid $mainTextColor;
      color: #323232;
    }
  }
  .about__header {
    padding: 40px 0;
    font-size: 1.5rem;
    color: #383838;
    font-weight: bold;
    display: block;
  }
  p {
    padding-bottom: 40px;
    color: #383838;
    font-size: 1.5rem;

  }
  @media (max-width: 991px) {
    .nav-pills {
      flex-direction: column;
      margin-right: -15px;
      margin-left: -15px;
      .nav-link  {
        padding: 20px 15px;
        border-bottom: 1px solid #e5e5e5;

        &.active {
          background-color: $mainTextColor;
          color: #fff;
          border:none;
        }
      }
    }
  }
}

.btn__more {
  font-size: 1.5rem;
  color: #383838;
  font-weight: bold;
  &:hover {
    color: #383838;
  }
  svg {
    transform: rotate(-90deg);
    fill: #383838;
    width: 12px;
    margin-left: 14px;
  }
}


.contacts {
  padding-top: 110px;
  .contacts__content {
    padding-top: 60px;
    padding-bottom: 100px;
    @media (max-width: 991px) {
      padding: 20px 0 0 0;
    }
  }
  .contacts__header {
    font-size: 1.8rem;
    color: #383838;
    font-weight: bold;
    padding-bottom: 20px;
    display: block;
  }
  .contacts__description {
    font-size: 1.5rem;
    color: #383838;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 5px;
    display: block;
  }
  .contacts__info {
    line-height: 150%;
    font-size: 1.5rem;
    color: #383838;
    display: block;
    &:hover {
      color: #383838;
    }
  }
  @media (max-width: 991px) {
    margin-top: 30px;
    padding:30px 0;
    background-color: #f9f9f9;
    .btn__more  {
      margin-top: 20px;
      align-items: center;
      .gf {
        width: 60%;
      }
    }
  }
}
.ask__full {
  input {
    width: 30%;
  }
  .input__phone  {
    width: 30%;
    input {
      width: 100%;
    }
  }
}
.ask__text {
  color: #383838;
  font-size: 1.5rem;
  padding-bottom: 50px;
  line-height: 160%;
}

.spam {
  background: url("../images/voucher.jpg") no-repeat;
  background-position: center -18px;
  margin-bottom: -18px;
  .spam__wrap {
    padding-top: 110px;
    padding-bottom: 110px;
    @media (max-width: 1220px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    @media (max-width: 991px) {
      padding-top: 80px;
      padding-bottom: 80px;
      .form  {
        flex-direction: column;
        input {
          width: 100%;
        }
        .btn {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
  .form {
    padding: 50px 0 0 0 ;
    input {
      width: 59%;
    }
    button {
      width: 39%;
    }
  }
}



.wheretobuy {
  @media (max-width: 991px) {
    .recommendations {
      background-color: unset;
    }
    .accordion {
      padding: 0px!important;
    }
    .card  {
      &.active {
        border: unset!important;
        .card-header {
          background: unset;
        }
        .card-body {
          background: unset!important;
        }
      }
      h3+ .collapse {
        .card-body {
          background: unset;
        }
      }
      .collapsed {

      }
    }
  }
  h1 {
    color: #383838;
    @media (max-width: 991px) {
      padding: 0px;
    }
  }
  .city_header {
    justify-content: flex-start;
    padding: 40px 0;
  }
  .city__description {
    font-size: 1.5rem;
    color: #383838;
    padding-right: 6px;
  }
  .city__checked {
    font-weight: bold;
  }
  .recommendations {
    padding: 0px;
  }
  .card {
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    margin: 10px 0;
    &:not(:first-of-type):not(:last-of-type) {
      border: 1px solid #d5d5d5;
      border-radius: 6px;
    }
    &:first-of-type {
      border: 1px solid #d5d5d5;
      border-radius: 6px;
    }
  }
  .accordion {
    padding: 40px 30px;
    h3 {
      background-color: transparent;
      box-shadow: unset;
    }
  }
  .recommendations .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    @media (max-width: 991px) {
      box-shadow: unset;
    }
  }
  .accordion {
    max-height: 340px;
    overflow-y: auto;
    @media (max-width: 991px) {
      max-height: unset;
    }
  }
  .card-body {
    background-color: transparent;
  }
  .phone.phone_two_header {
    justify-content: flex-start;
    a {
      font-weight: normal;
      font-size: 1.5rem;
    }
  }
  .email_header {
    margin: 20px 0px;
    padding: 0px;
  }
  .city__adr {
    font-weight: normal;
    font-size: 1.5rem;
  margin: 20px 0px;
    padding: 0px;
  }
  svg{
    margin-right: 15px;

    &.city__svg {
      width: 16px;
    }
  }
  .schedule__date {
    img {
      padding-right: 15px;
    }
  }
  .schedule__content {
    font-size: 1.5rem;
   margin: 20px 0px;
    padding: 0px;
  }
}








.help {
  .callback {
    margin-top: 60px;
  }
  h2 {
    color: #383838;
    padding-bottom: 40px;
  }
  p {
    color: #383838;
    padding-bottom: 40px;
    line-height: 160%;
  }
  .nav-link {
    font-size: 1.5rem;
    background-color: #f9f9f9;
    font-weight: bold;
    color: #383838;
    padding: 20px 19px;

    border-radius: 5px;
    border: 1px solid #d5d5d5;

    @media (max-width: 991px) {
      border-radius: 0px;
      border: unset;
    }
   
    &.active {
       border-bottom: none;
       border-radius: 5px 5px 0 0;
    }

  }
  .sldier_arrow_next {
    svg {
      width: 14px;
      fill: #383838;
    }
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #f9f9f9;
    color: #383838;
  }
  .tab-pane {
    background-color: #f9f9f9;
    border-radius: 0 0 5px 5px;
    border: 1px solid #d5d5d5;
    border-top: none;

    @media (max-width: 991px) {
      position: relative;
      border: unset;
      border-radius: 0;
    }
  }
  .help__link_wrap {
    border-top: 1px solid #e0e0e0;
    a {
      color: #383838;
       font-size: 1.5rem;
    }
    display: flex;
    justify-content: space-between;
   
    padding: 18px 21px;
    position: relative;
    &:nth-child(1) {
      border: none;
    }
    &.active {
      background-color: #d5d5d5;
    }
    &:hover {
      cursor: pointer;
    }
    .sldier_arrow_next {
      padding: 5px;
      svg {
        width: 14px;
        transform: rotate(-90deg);
      }
    }
    &:hover {
      .help__link__content {
        position: absolute;
        top: 0; left: 100%;
        display: block;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    @media (max-width: 991px ) {
      position: unset;
      border: unset!important;
      border-bottom: 1px solid #d5d5d5;
      &:last-child {
        border: none;
      }
    }
  }
  @media (max-width: 991px) {
    .nav-pills, .tab-content {
      margin-right: -15px;
      margin-left: -15px;

    }
    .tab-content {
      a {
        padding-right: 34px;
        padding-left: 34px;
      }
    }
  }
}

.hid__content {
  height: 240px;
  overflow: hidden;
}

.btn__text_more {
  .btn__text {

    display: none; 
  }
  .btn__text_close {
    display: block;
  }

  &.active {
    .btn__text {
      display: block;
    }
    .btn__text_close {
      display: none;
    }
  }
}


.help__link__content {
  display: none;
  width: 360px;
  z-index: 10;
  background-color: #f9f9f9;
  border-radius: 0 5px 5px 0;
  a {
    padding: 16px 19px;
    color: #383838;
    font-size: 1.5rem;
    display: block;
    position: relative;
    &:hover {
      color: #383838;
      text-decoration: none;
    }
    &.active {
      background-color: #d5d5d5;
    }
    &:before {
      position: absolute;
      bottom: 1px;
      left: 19px;
      content: "";
      background-color: #e0e0e0;
      display: block;
      right: 19px;
      height: 1px;
    }
    &:last-child() {
      &:before {
        display: none;
      }
    }
  }
  @media (max-width: 991px) {
    width: unset;
    left: -15px!important;
    right: -15px!important;

  }

  &.active {
    display: block!important;
  }
}




.item {
  .products__form {
    padding: 20px 0px;
  }
  .item__header {
    font-size: 3.6rem;
    color: #383838;
    font-weight: bold;
    display: block;
    padding-bottom: 25px;
    @media (max-width: 991px) {
      font-size: 2.4rem;
      padding: 0px;
    }
  }
  .item__description {
    font-size: 1.8rem;
    color: #383838;
    display: block;
    @media (max-width: 991px) {
      padding: 20px 0;
    }
  }
  .item__price {
    font-weight: bold;
    font-size: 3rem;
  }
  .item__free {
    padding-left: 15px;
    display: block;
    font-size: 1.5rem;
  }
  .free_q {
    span {
      display: block;
      padding-left: 15px;
      font-size: 1.5rem;
      color: #383838;
    }
  }
  .item__img {
    @media (max-width: 991px) {
      max-width: 114px;
    }
  }
  .favorites {
    @media (max-width: 991px) {
      padding: 0px;
    }
  }
  .item__now {

    @media (max-width: 991px) {
      padding: 10px 0 30px 0;
    }
  }





  .nav-pills {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 60px;
    @media (max-width: 991px) {
      border: none;
      flex-direction: column;
      width: 100%;
      .nav-link {
        border-bottom: 1px solid #e5e5e5;
        transition: all 0.5s;
        margin: 0px;
        margin-right: -15px!important;
        margin-left: -15px!important;
        padding-right: 15px;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 15px;
        &.active {
          border-bottom: 1px solid transparent;
          background-color: $mainTextColor;
          color: #fff;
          transition: all 0.5s;
        }
      }
    }
  }
  .nav-item {
    &:first-child {
      .nav-link {
        margin-left: 0px;
      }
    }
    &:last-child {
      .nav-link {
        margin-right: 0px;
      }
    }
  }
  .nav-link {
    color: #797979;
    font-size: 1.5rem;
    transition: all 0.5s;
    margin: 0 25px;
    padding: 0 0 24px 0;
    &.active {
      color: #383838;
      font-weight: bold;
      background: none;
      transition: all 0.5s;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        bottom: -2px;
        display: block;
        left: 0px; right: 0px;
        height: 3px;
        background-color: $mainTextColor;
      }
    }
  }

  .tab-content {
    padding-top: 38px;
    p {
      font-size: 1.5rem;
      line-height: 150%;
      padding-bottom: 30px;
      color: #383838;
    }
  }
  .tab-content__header {
    padding-bottom: 40px;
    display: block;
    color: #383838;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .sldier_arrow_next {
    padding-left: 12px;
    svg {
      fill: #383838;
      width: 14px;
    }
  } 
}


.select-items {
  div {
    background-color: #f8f8f8;
    z-index: 200;
    padding: 13px;
    font-size: 1.5rem;
    &:hover {
      background-color: #d5d5d5;
    }
  }
}


.products {
  .products__link_more {
    .sldier_arrow_next {
      padding-left: 14px;
      z-index: -1;
      svg {
        width: 14px;
        transform: rotate(-90deg);
        fill: #383838;

      }
    }
  }
}
.choose__two_slider  {
  .slick-dots {
    padding-right: 8%;
  }
  
}
.choose {
  .col-6 {
    .products__link_more  {
    padding-left: 3%;
  }
  }
}


.youCheckedItems {

  @media (max-width: 991px) {
    margin-bottom: 40px!important;
  }
 
  
   .eye_1 {
      display: block;
      width: 22px;
    }
    .eye_2 {
      display: none;
      width: 22px;
    }
  .products__item_wrap {
    &:hover {
      .products__item {
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        z-index: 10;
      }
      .eye {
        color: $mainTextColor;
      }
      .eye_1 {
      display: none;
    }
    .eye_2 {
      display: block;
    }
    }
    .eye {
      color: #383838;
    }
    
  }
}
.products__form  {
  .form__numbers {
    /*
    padding: 9px 13px;
    height: unset;
    width: 96px;

    */
  }
}
.products__form__first {
  width: 100%;
  padding-right: 50px;
  
  @media (max-width: 991px) {
    padding: 0px;
  }
}
.checkbox__custom {
  cursor: pointer;
  display: block;
  input {
    display: none;
  }
  span {
    border: 1px solid #e5e5e5;
    padding: 9px 13px;
    display: block;
    border-radius: 5px;

    font-size: 1.5rem;
    color: #383838;
  }

  .checkbox:checked + span {
    border: 1px solid $mainTextColor;
    color: $mainTextColor;
  }
  .checkbox:disabled + span {
    border: 1px solid #d5d5d5;
    background-color: #d5d5d5;
  }
}


.item__now {
  .count {
    color: #383838;
  }
}

.products__form__footer {
  .btn {
    width: 48%;
    padding-left: 10px;
    padding-right: 10px;
    &.click {
      border: 1px solid $mainTextColor;
      background: unset;
      font-weight: normal;
      color: $mainTextColor;
    }
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}


.item__second__header {
  font-size: 1.8rem;
  color: #383838;
  padding-bottom: 35px;
  display: block;
  font-weight: bold;
}

.item__second_box {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 21px 11px;

  .item__second_box__header {
    color: #383838;
    font-size: 1.3rem;
    display: block;
  }
  .interesting__gov__item__more {
    margin: 0px;
    padding: 10px 0 20px 0;
    .sldier_arrow_next {
      svg {
        width: 14px;
        fill: #383838;
      }
    }
  }
  .item__second_box__first {
  border-bottom: 1px solid #ebebeb;
  }

}

.item__second__item__second {
  padding-left: 8px;
}

.item__second__item {
  padding-top: 25px;
  .item__second__item__first {
    max-width: 150px;
  }
  .item__second__item__header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #383838;
    display: block;
  }
  .item__second__item__description {
    padding-top: 10px;
    font-size: 1.3rem;
    color: #383838;
    display: block;
  }
  .form__numbers {
    padding: 9px 13px;
    height: 20px;
    width: 70px;
  }
  .products__form__first {
    padding: 0px;
  }
  .item__price {
    font-size: 2.4rem;
    font-weight: normal;
    b {
      font-weight: bold;
    }
  }
  .favorites, .compare {
    padding: 0px;
  }
  .compare {
    margin-left: 8px;
  }
  .item__second__item__footer {
    margin-top: -30px;
    a {
      &:hover {
        color: #383838;
      }
    }
  }
}


.article {
  overflow: hidden;
  transition: all 0.5s;
}




.item {
  .tab-content {
    .interesting__gov__item__more {
      margin: 50px 0 110px 0;
    }
  }
}


.bu_we {
  padding-bottom: 120px;
  h2 {
    padding-bottom: 50px;
  }


  .products__link_more {
    .sldier_arrow_next {
      padding-left: 14px;
      z-index: -1;
      svg {
        transform: rotate(-90deg);
        fill: #383838;
        width: 14px;
      }
    }
  }
  @media (max-width: 991px) {
    padding-bottom: 50px;
  }
}

.slick-slider {
  padding-bottom: 30px;
}








.step {
  h1 {
    font-size: 3.6rem;
    color: #383838;
    @media (max-width: 991px) {
      font-size: 2.6rem;
    }
  }
  @media (max-width: 991px) {
    .step_s{
      order: 2;
    }
    .step_f {
      order: 1;
    }
   }
  .step__item {
    &.complete {
      .step__number {
        background-color: #33b873;
        color: #33b873;
        position: relative;
        &:before {
          position: absolute;
          display: block;
          content: "";
          background: url("../images/complete.png") no-repeat;
          background-position: center;

          width: 100%;
          height: 100%;

          left: 50%;
          top: 50%;

          transform: translate(-50%, -50%);
        }
      }
    }
    &.step__item_undefined {
      .step__number {
        background-color: #fff;
        color: #acacac;
        border: 3px solid #acacac;
      }
    }
  }
  .step__header {
    background-color: #f8f8f8;
    padding: 12px 15px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;

      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 20px;
    }
  }
  .step__text__header {
    font-size: 1.8rem;
    color: #383838;
    font-weight: bold;
    @media (max-width: 991px) {
      padding-top: 10px;
    }
  }
  .step__number {
    width: 37px;
    height: 37px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #33b873;
    display: block;
    margin-right: 46px;


    font-size: 1.8rem;
    font-weight: bold;
    color: #33b873 ;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 991px) {
      margin-right: 10px;
    }

  }
  .step__body {
    padding: 40px 0;
    &.step__body_pad {
      padding-left: 99px;
      padding-right: 99px;
      @media (max-width: 991px) {
        padding: 0px;
      }
    }
    @media (max-width: 991px) {
      .step__body_face {
        flex-direction: column;
        align-items: flex-start!important;
        padding-bottom: 0px!important;
      }
    } 
  }
  .step__body__header {
    font-size: 1.5rem;
    color: #383838;
    font-weight: bold;
    display: block;
    &.step__body__header_g {
      font-weight: normal;
    }
  }
}

.step__body {
  .checkbox__circle {
    .checkbox__label {
      border: 1px solid #7f7f7f;
    }
    .checkbox:checked + checkbox__label {
      &:before {
        display: none;
      }
    }
  }
}
.color_red {
  color: #c70000;
}
.form__zakaz {
  input {
    border: 1px solid #cccccc;
    padding: 15px 14px;
    border-radius: 6px;
  }
  textarea {
    border: 1px solid #cccccc;
    padding: 15px 14px;
    border-radius: 6px;
  }
}

.btn__back {
  background: none;
  color: #383838!important;
  border: 1px solid #383838;
  min-width: 100px;
}

.step__item {
  .step__body__first, .step__body__second {
    width: 49%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .dos__item {
    display: block;
    transition: all 0.5s;
    input {
      display: none;
    }
  }
  .dos__item__header {
    padding: 2px;
    background-color: #d5d5d5;
    width: 166px;
    height: 80px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    cursor: pointer;
    transition: all 0.5s;
    @media (max-width: 991px) {
      width: 120px;
    }
    .dos__item__header_to {
      position: absolute;
      top: 2px; right: 2px; bottom: 2px; left: 2px;
      background-color: #fff;
      border-radius: 5px;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dos__item__dot {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 15px; height: 15px;
      display: block;
      content: "";
      background: transparent;
      border: 1px solid #7f7f7f;
      border-radius: 50%;
    }
    
  }
}


.dos_ch:checked + .dos__item__header {
  background: linear-gradient(230deg, #40d689 , #017b5c);

  .dos__item__dot {
    border: 1px solid #33b873;
    transition: all 0.5s;
    &:before {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 7px; height: 7px;
      display: block;
      content: "";
      background: #33b873;
      border: 1px solid #33b873;
      border-radius: 50%;
      transition: all 0.5s;
    }
  }
} 



.dos__header {
  padding: 15px 0 13px 0;
  font-size: 1.5rem;
  color: #383838;
  font-weight: bold;
  display: block;
  transition: all 0.5s;
  @media (max-width: 991px) {
    font-size: 1.3rem;
  }
}
.dos__des {
  font-size: 1.5rem;
  color: #383838;
  display: block;
  transition: all 0.5s;
}

.dos__item {
  &:hover {
    .dos__item__header {
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba(233, 233, 233, 1);
      transition: all 0.5s;
    }
    .dos__item__dot {
      border: 1px solid #33b873;
      transition: all 0.5s;
    }
  }


  .dos_ch:checked + .dos__item__header {
    box-shadow: unset;
  } 
}


.step__body_f {
  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.step__body__second {
  background-color: #f9f9f9;
    border-radius: 5px;
      padding: 17px;
  .step__body__second__item {
      background-color: #fff;
      width: 166px;
      height: 80px;
      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .step__body__second__header {
    padding-top: 25px;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    color: #383838;
  }
  p {
    padding: 20px 0;
  }
  p, .step__body__second__price {
    font-size: 1.5rem;
    color: #383838;
  }
  @media (max-width: 991px) {
    order: 2;
    margin-top: 20px;
    width: unset!important;
    margin-right: -15px;
    margin-left: -15px;
  }
}



.about__fix {
  .form__numbers {
    @media (max-width: 991px) {
    }
  }
  .nav-pills {
    justify-content: flex-start;
    @media (max-width: 991px) {
      justify-content: space-between;
    }
  }
  .nav-link {
    display: block;
    &.a {
      margin-left: 80px;
      @media (max-width: 991px) {
        margin: 0px;
      }
    }
  }
  .tab-content {
    padding-bottom: 200px;
    @media (max-width: 991px) {
      padding-bottom: 30px;
    }
  }
  #products__slider {
    padding-top: 40px;

  }
  .products__link_more {
    .sldier_arrow_next {
    padding-left: 14px;
    z-index: -1;
    svg {
      width: 14px;
      fill: #383838;
      transform: rotate(-90deg);
    }   
  }
  }
  .products__form  p {
    padding: 0px;
  }


  @media (max-width: 991px) {
    .products__link_more  {
      padding: 30px 0;
      justify-content: center;
    }
  }
  
}



.filan__order {
  padding: 4px 14px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  .filan__order__header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #383838;
  }
  .filan__order__re{
    color: #737373;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .filan__order__step {
    padding: 25px 0;
    display: block;
    .card-body {
      padding: 10px 0 0 0;
      .filan__order__step {
        padding: 10px 0;

        span {
          font-size: 1.2rem;
          font-weight: normal;
          &.filan__order__price {
            font-weight: bold;
          }
        }
      }
    }
  }
  .filan__order__border {
    border-bottom: 1px solid #e5e5e5;
  }
  .filan__order__price {
    color: #383838;
    font-size: 1.5rem;
    &.filan__order__price_f {
      font-size: 1.8rem;
    }
  }
  .card-body {
    border: none;
  }
  @media (max-width: 991px) {
    margin-bottom: 60px;
  }
}

.ar {
  position: relative;
  &:before {
    position: absolute;
    display: block;
    content: "";

    top: 70%;
    right: -25px;
    transform: translateY(-50%);
    border: 6px solid transparent; /* Прозрачные границы */
    border-top: 6px solid #383838; /* Добавляем треугольник */
  }
}

.ask_bg {
  @media (max-width: 991px) {
    padding: 0px 0px 6px 0px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  }
}

.slick-dots {
  bottom: -10px!important;
 li {
   button {
    height: unset;
    &:before {
      height: 100%;
      width: 100%;
    }
  }
 }
}
.slick-slider {
  margin-bottom: 0px!important;
}


.help__link__content__back {
  display: none!important;
  justify-content: space-between;
  align-items: center;
  svg {
    transform: rotate(90deg)!important;
  }
  &:before {
    display: none!important;
  }
  @media (max-width: 991px) {
    display: flex!important;
  }
}


