.first-header {
	background-color: #f2f2f2;
	padding: 29px 0 16px 0;
	border-bottom: 1px solid #d9d9d9;
}

.info {
	&.info_header {
		width: 100%;
		max-width: 294px;
		display: flex;
		justify-content: space-between;
		a {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.3rem;
			text-decoration: none;
			color: #909090;
			transition: color .2s;
			&:hover {
				text-decoration: none;
				color: #111;
				transition: color .2s;
			}
		}
	}
}

.city {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 166px;
	.city__svg {
		fill: #909090;
		width: 13px;
		margin-right: 15px;
	}
	.city__arrow {
		width: 11px;
		border: 5px solid transparent;
		border-top: 4px solid #383838;
		border-bottom: 0;
		margin-left: 4px;
	}
	.city__check {
		cursor: pointer;
	}
	.city__checked {
		color: #383838;
		font-size: 1.5rem;
	}
}




.email {
	&.email_header {
		padding-left: 52px;

		width: 100%;
		max-width: 264px;

		display: flex;
		align-items: center;

		font-size: 1.5rem;
		a {
			display: block;
			color: #383838;
		}
		img {
			padding-right: 15px;
		}
	}
}

.logo {
	width: 100%;
	max-width: 98px;

	span {
		color: #383838;
	}
	.logo__header {
		font-size: 1.8rem;
		font-weight: bold;
		padding-left: 19px;
	}
	.logo__description {
		font-size: 1.3rem;
	}
	@media (max-width: 991px) {
		margin-left: 51px;
	}
}



.order {
	&.order_min {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		.wrapper {
			position: relative;
			.order__count {
				position: absolute;
				top: -2px; right: -2px;
				width: 21px; height: 21px;
				border-radius: 50%;
				border: 1px solid #fff;
				background-color: #f0882b;

				display: flex;
				justify-content: center;
				align-items: center;

				font-size: 1.2rem;
				font-weight: bold;
				color: #fff;
			}
		}
	}
	.order__digets, .order__type {
		color: #383838;
		font-size: 1.5rem;
		font-weight: bold;
	}
	.order__digets {
		padding-left: 7px;
	}
	.order__type {
		padding-left: 6px;
	}
}

.header {
	top: 0; right: 0;  left: 0;
	z-index: 999;
}

.header__top {
	background-color: #f2f2f2;
	padding: 21px 0 24px 0;
	border-bottom: 2px solid #f9f9f9;
	@media (max-width: 991px) {
		position: relative;
		z-index: 199;
		padding-top: 15px;
		padding-bottom: 15px;
		border: none;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	}
	.search input[type=search] {
		width: 100%;
	}
}
.header__bot {
	background-color: #535353;
}
.navigation {
	.navigation__item {
		display: block;
		padding: 19px 10px;
		font-size: 1.5rem;
		color: #fff;
		border-top: 4px solid transparent;
		transition: all 0.1s;
		position: relative;
		&:before {
			position: absolute;
			display: block;
			content: "";
			width: 1px;
			height: 80%;
			top: 10%; right: 0px;
			background-color: #757575;
		}
		&:hover {
			border-top: 4px solid $mainTextColor;
			font-weight: bold;
			color: $mainTextColor;
			transition: all 0.1s;
		}
		&.navigation__item_active {
			background-color: $mainTextColor;
			color: #535353;
			font-weight: bold;
			&:before {
				background-color: #f3a055;
			}
		}
	}
}

.schedule {
	width: 100%;
	max-width: 295px;
	padding-left: 50px;
	img {
		padding-right: 16px;
	}
	.schedule__date {
		display: block;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		color: #383838;
	}
	.schedule__consultation {
		font-size: 1.5rem;
		display: block;
		color: #f0882b;
		display: flex;
		align-items: center;
		padding-top: 6px;
		cursor: pointer;
	}
	.schedule__content {
		color: #383838;
	}
	.email__content {
		color: #383838;
	}
	.email_header {
		display: none;
		padding: 0;
	}
}


.phone {
	&.phone_header {
		max-width: 128px;
		font-size: 1.5rem;
		font-weight: bold;
		a {
			display: block;
			color: #383838;
		}
	}
	&.phone_two_header {
		max-width: 196px;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-end;
		img {
			padding-right: 18px;
			padding-top: 5px;
		}
		a:first-child {
			margin-bottom: 12px;
		}
	}
}


.header__nav {
	@media (max-width: 991px) {
		justify-content: space-between!important;
	}
}


.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transform: scale(1.5);
	}
	.hamRotate.active {
		transform: rotate(45deg) scale(1.5);
	}
	.hamRotate180.active {
		transform: rotate(180deg);
	}
	.line {
		fill:none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: #373737;
		stroke-width: 5.5;
		stroke-linecap:round;
	}
	.ham8 .top {
		stroke-dasharray: 40 160;
	}
	.ham8 .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	}
	.ham8 .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	}
	.ham8.active .top {
		stroke-dashoffset: -64px;
	}
	.ham8.active .middle {
		transform: rotate(90deg);
	}
	.ham8.active .bottom {
		stroke-dashoffset: -64px;
	}
	.btn__menu {
	background: none;
	border: none;
	min-width: 40px;
	min-height: 40px;
	padding: 0;
	cursor: pointer;
		&:focus {
			outline: none;
		}
	}
.navigation__container {
	display: none;
	position: fixed;
	left: 0px; top: 63px;
	right: 0px; bottom: 0px;
	overflow: auto;

	
	z-index: 999;
	box-shadow: 10px -0px 50px rgba(0,0,0,.4);
	&.active {
		display: block;
	}
}
.navigation__content {
	width: 224px;
	.navigation__content__link {
		display: flex;
		justify-content: space-between;
		padding: 17px 28px;
		background-color: #f2f2f2;
		font-size: 1.5rem;
		color: #383838;
		border-bottom: 1px solid #eaeaea;
		transition: all 0.5s;
		svg {
			&.card_item_arrow {
				width: 14px;
				    z-index: -1;
				transform: rotate(-90deg);
			}
		}
		&.navigation__content__link_back {
			background-color: #eaeaea;
			svg {
				&.card_item_arrow {
					width: 14px;
					transform: rotate(90deg);
				}
			}
		}
		&.active {
			color: #fff;
			background-color: $mainTextColor;
			svg {
				&.card_item_arrow {
					fill: #fff;
				}
			}
			&:hover {
				background-color: $mainTextColor;
			}
			.navigation__content__deep {
				svg {
				&.card_item_arrow {
					fill: #7f7f7f;
				}
			}
			}
		}
		&:hover {
			background-color: #d5d5d5;
			transition: all 0.5s;
			border-bottom: 1px solid #bfbfbf;
		}
		&.navigation__content__link_dawn {
			background-color: #383838;
			color: #c4c4c4;
			border: none;
		}
		.navigation__content__link_img {
			width: 17px;
		}
		span {
			img {
				margin-right: 11px;
			}
		}
	}
	.navigation__content__deep {
		display: none;
		position: fixed;
		left: 0px; top: 63px;
		right: 0px;
		box-shadow: 0px 0px 50px rgba(0,0,0,.4);
		&.active {
			display: block;
			z-index: 10;
		}
	}
	.arrow__click {
		padding-left: 30px;
		cursor: pointer;
	}
}
.header__top__mobile {
	background-color: #f2f2f2;
	@media (max-width: 991px) {
		padding: 16px 0;
		position: relative;
		z-index: 50;
	}
	.header__top__mobile_wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.search  {
			width: unset;
		}
	}
}

.navigation__item__deep_wp {
	position: relative;
}
.navigation__item__deep {
	top: 100%;
	left: 15px;
	right: 15px;
	position: absolute;
	border: 10px solid #e8e8e8;
	background-color: #f2f2f2;
	padding: 33px 19px;
	display: none;

	.products__item_wrap {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
	}
	.products__item {
		img {
			width: 75px;
		}
		.products__name {
			padding-left: 0px;
			padding-right: 0px;
			font-size: 1.5rem;
		}
		.products__price_now {
			font-size: 1.8rem;
		}
		.products__type {
			text-align:  left;
			padding-bottom: 10px;
			display: block;
		}
	}
}

.navigation__item__deep__header {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 35px;
	color: #111111;
	text-decoration: none;
	display: block;
	&:hover {
		color: $mainTextColor;
		text-decoration: none;
	}
}
.navigation__item__deep__link {
	text-decoration: none;
	color: #111;
	display: block;
	margin: 11px 0px;
	font-size: 1.5rem;
	&:hover {
		color: $mainTextColor;
		text-decoration: none;
	}
}
.navigation__item__deep_we {
	padding: 0 30px;
	&:first-child {
		padding-left: 0px;
	}

}

.navigation__item_tg {
	&:hover {
		.navigation__item__deep {
			display: block;
		}
	}
}

.order_min {
	position: relative;
	&:hover {
		.order_min__deep {
			display: block;
		}
	}
}
.order_min__deep {
	padding: 28px 0 0 0;
	position: absolute;
	top: 100%;
	right: 0px;
	display: none;
	z-index: 100;
	.products__item {
		background: none;
		border: unset;
		overflow:auto;
		width: 300px;
		.products__name, .products__price_now {
			font-size: 1.5rem;
			color: #111;
			display: block;
		}
		.products__price_now {
			padding: 0px;
		}
		.products__type {
			font-size: 1.5rem;
			color: #111;
			display: block;
			padding-bottom: 20px;
		}
		.products__name {
			font-weight: bold;
			padding-bottom: 8px;
		}
		.products__item__top  {
			img {
				max-width: 100px;
			}
		}
	}
	.products__item {
		border-bottom: 1px solid #d9d9d9;
	}
}
.order_min__deep__content {
	border: 10px solid #e8e8e8;
	background-color: #f2f2f2;
	padding: 19px;
	
	
}
.order_min__deep__header {
	font-size: 1.8rem;
	color: #111;
	font-weight: bold;
	display: block;
	padding-bottom: 20px;
}

.deep_price {
	padding: 20px 0;
	font-size: 1.8rem;
	color: #111;
	font-weight: bold;
	display: block;
	text-align: right;
	span {
		display: inline-block;
		padding-left: 4px;
	}
}
.modal-body__footer {
	span {
		font-size: 1.3rem;
		color: #868686;
		line-height: 140%;
	}
}